<template>
	
<div>
	
	<div class="ui header">
		<h4>Completed Exams</h4>
	</div>

	<table class="ui sortable basic selectable table">
		<thead>
			<tr>
				<th>Year</th>
				<th class="single line">Course Code</th>
				<th class="single line">Course</th>
				<th>Lecturer</th>
				<th>Exam Date</th>
			</tr>
		</thead>

		<tr v-if="contentLoading">
			<td></td>
			<td></td>
			<td>
				<div id="loader-div" class="ui active centered inline loader"></div>
			</td>
			<td></td>
			<td></td>
		</tr>

		<tbody v-if="!contentLoading && completedExams.length > 0">
			<tr
				v-for="exam in completedExams"
				v-bind:key="exam.id"
				@click="handleRecordClick(exam)">

				<td>{{ exam.yearOfStudy }}</td>
				<td>{{ getCourseCode(exam.courseCode) }}</td>
				<td>{{ exam.courseName }}</td>
				<td>{{ getLecName(exam.lecturerFirstName, exam.lecturerSurname) }}</td>
				<td>{{ getExamDate(exam.examDate) }}</td>
				
			</tr>

		</tbody>

		<tbody v-if="!contentLoading && completedExams.length == 0">
			<tr>

				<td></td>
				<td></td>
				<td>No results found</td>
				<td></td>
				<td></td>
				
			</tr>

		</tbody>

		<!-- <tfoot>
			<tr>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th colspan="2">
					<div class="ui right floated pagination menu">
						<a class="icon item">
							<i class="left chevron icon"></i>
						</a>
						<a class="item">1</a>
						<a class="item">2</a>
						<a class="item">3</a>
						<a class="item">4</a>
						<a class="item">5</a>
						<a class="icon item">
							<i class="right chevron icon"></i>
						</a>
					</div>
				</th>
			</tr>
		</tfoot> -->
	</table>
</div>

</template>


<script>

import axios from 'axios'

export default {

	data() {
		return {
			completedExams: [],
			contentLoading: true,
			courseName: "",
			lecName: ""
		}
	},

	mounted() {
		$('table').tablesort();
		this.getAllExams()
	},

	methods: {
		handleRecordClick(exam) {
			console.log("Clicked record for examId=" + exam.id)
			this.$store.dispatch('setExam', exam)
			this.$router.push('/exam-centre/exam/preview')
		},

		getCourseCode(courseCode) {
			let code = courseCode.split('_')
			return code[0] + " " + code[1]
		},

		getLecName(firstName, surname) {
			return firstName + " " + surname
		},

		getExamDate(examDate) {
			return this.formatDate(new Date(examDate))
		},

		formatDate(date) {
			var monthNames = [
			    "January", "February", "March",
			    "April", "May", "June", "July",
			    "August", "September", "October",
			    "November", "December"
			  ];

			  var day = date.getDate();
			  var monthIndex = date.getMonth();
			  var year = date.getFullYear();

			  return day + ' ' + monthNames[monthIndex] + ' ' + year;
		},

		getAllExams() {
			console.log("running getAllExams")
			let url = "http://localhost:8084/v1/examination"

			axios.get(url)
			.then(response => {
				console.log("completed exams response=" + JSON.stringify(response))
				this.contentLoading = false
				let exams = response.data.data.examinations

				for (var i = 0; i <= exams.length - 1; i ++) {
					let exam = exams[i]

					if (this.examModerated(exam)) {
						if (exam.moderationDetails.status) {
							if (exam.generationDetails != null) {
								this.completedExams.push(exam) 
							}
						}
					}
				}

			})
			.catch(error => {
				this.contentLoading = false
				console.log("Completed exams error=" + JSON.stringify(error))
			})
		},

		examModerated(exam) {
			if (exam.moderationDetails.createDate == exam.moderationDetails.lastUpdate) {
				return false
			}
			return true
		}
	}

};

</script>


<style scoped>


#loader-div {
	margin-top: 20vh;
	margin-bottom: 20vh;
}

</style>