<template>
	
<div>
	<div class="ui fluid two item menu">
		<router-link v-bind:class="{active : previewActive}" class="item" to="/exam-centre/exam/preview">Preview</router-link>
		<router-link v-bind:class="{active : detailsActive}" class="item" to="/exam-centre/exam/details">Details</router-link>
	</div>


	<router-view></router-view>

</div>

</template>


<script>

export default {

	data() {
		return {
			activeTabUrl: null
		}
	},

	mounted() {
		this.activeTabUrl = window.location.pathname
	},

	updated() {
		this.activeTabUrl = window.location.pathname
	},

	computed: {
		previewActive() {
			if (this.activeTabUrl == '/exam-centre/exam/preview'
					|| this.activeTabUrl == '/exam-centre/exam') {
				return true
			}
			return false
		},

		detailsActive() {
			if (this.activeTabUrl == '/exam-centre/exam/details') {
				return true
			}
			return false
		}
	}

};

</script>


<style>


</style>