<template>
	
<div>
	
	<GenerationDetailsForm></GenerationDetailsForm>

</div>

</template>


<script>

import GenerationDetailsForm from '../../components/exam-centre/GenerationDetailsForm'

export default {

	components: {
		GenerationDetailsForm
	}

};

</script>


<style>


</style>