<template>
	
<div>
	<div class="ui fluid two item menu">
		<router-link v-bind:class="{active : pendingActive}" class="item" to="/exam-centre/home/pending">Pending</router-link>
		<router-link v-bind:class="{active : completedActive}" class="item" to="/exam-centre/home/completed">Completed</router-link>
	</div>


	<router-view></router-view>
</div>

</template>


<script>
	
export default {

	data() {
		return {
			activeTabUrl: null
		}
	},

	mounted() {
		this.activeTabUrl = window.location.pathname
	},

	updated() {
		this.activeTabUrl = window.location.pathname
	},

	computed: {
		pendingActive() {
			if (this.activeTabUrl == '/exam-centre/home/pending') {
				return true
			}
			return false
		},

		completedActive() {
			if (this.activeTabUrl == '/exam-centre/home/completed') {
				return true
			}
			return false
		}
	}

};

</script>


<style>


</style>