<template>
	
<div>
	<div class="accordion transition visible">
		<div class="active title">
			<i class="dropdown icon"></i>
			<p class="question-name">Question {{ mainQuestion.questionNumber }}</p>

			<span v-if="displayModeration">
				<i v-if="moderationStatus" class="check circle outline big green icon mod-status-icon"></i>
				<i v-if="moderationStatus == false" class="times circle outline big red icon mod-status-icon"></i>
				<i v-if="moderationStatus == null" class="info circle large icon mod-status-icon" style="margin-top: 5px !important;"></i>
			</span>

		
			<!-- <i v-if="user.userType != 'EXT_EXAMINER'" class="trash icon delete-button faded-text"></i> -->

			<span class="question-marks">
				<div class="ui large label">
					Marks
					<div class="detail">
						{{ totalMarks }}
					</div>
				</div>
			</span>
		</div>
		<div class="active content">
			
			<div v-for="item in mainQuestion.nestedItems">
				
				<SubQuestionItem
					v-if="item.type == 'SUB_QUESTION'"
					v-bind:subQuestion="item"
					v-bind:key="item.id"
					v-on:update-total-marks="updateTotalMarks"
					v-bind:class="addUIGridClass"
					class="list-item"></SubQuestionItem>

				<InstructionItem 
					v-if="item.docType == 'instruction'"
					v-bind:instruction="item"
					v-bind:key="item.id"
					v-bind:class="addUIGridClass"
					class="list-item"></InstructionItem>
			
				
			</div>

			<ExamItemForm
				v-if="(user.userType != 'EXT_EXAMINER') && !moderationOver"
				v-bind:context="context"
				v-bind:nextDisplayIndex="nextDisplayIndex"
				v-bind:instructionType="instructionType"></ExamItemForm>

		</div>
	</div>	


</div>

</template>


<script>
	
import SubQuestionItem from './SubQuestionItem'

import ExamItemForm from '../exams/ExamItemForm'
import InstructionItem from '../instructions/InstructionItem'

import ItemModeration from '../ItemModeration'

export default {

	props: ['mainQuestion'],

	components: {
		SubQuestionItem, ExamItemForm, InstructionItem, ItemModeration
	},

	data() {
		return {
			totalMarks: 0,
			context: "mainQuestion",
			instructionType: "QUESTION_LEVEL"
		}
	},

	methods: {
		updateTotalMarks(marks) {
			let parsedMarks = parseInt(marks)
			this.totalMarks += parsedMarks
			this.$emit('update-total-marks', parsedMarks)
		},

		itemModerated(item) {
			if (item.moderationDetails.lastUpdate 
					== item.moderationDetails.createDate) {
				return false
			}
			return true
		}
	},

	mounted() {
		$('.ui.accordion').accordion();
	},

	computed: {
		moderationOver() {
			let exam = this.$store.getters.exam
			if (exam.moderationDetails.lastUpdate 
					!= exam.moderationDetails.createDate) {
				if (exam.moderationDetails.status) {
					return true
				}
			}
			return false
		},

		moderationStatus() {
			let nestedItems = this.mainQuestion.nestedItems
			let status = true

			for (var i = 0; i <= nestedItems.length - 1; i ++) {
				let item = nestedItems[i]

				if (!this.itemModerated(item)) {
					status = null
					break
				} else {
					if (!item.moderationDetails.status) {
						status = false
					}
				}
			}
			this.$emit('update-moderation-status', status)
			return status 
		},

		addUIGridClass() {
			if (this.examModerated || this.user.userType == 'EXT_EXAMINER') {
				return 'ui grid'
			}
			return ''
		},

		user() {
			return this.$store.getters.user
		},

		nextDisplayIndex() {
			let length = this.mainQuestion.nestedItems.length

			if (length > 0) {
				let lastItem = this.mainQuestion.nestedItems[length - 1]
				return lastItem.displayIndex + 1

			} else {
				return this.mainQuestion.displayIndex + 1
			}

			
		},

		examModerated() {
			let exam = this.$store.getters.exam
			if (exam.moderationDetails.lastUpdate 
					== exam.moderationDetails.createDate) {
				return false
			}
			return true
		},

		displayModeration() {
			if (this.examModerated || this.user.userType == 'EXT_EXAMINER') {
				return true
			}
			return false
		}
	}
};

</script>


<style scoped>

.question-name {
	display: inline-block !important;
}

.question-marks {
	float: right;
}

.list-item {
	margin-bottom: 3vh;
}

.delete-button {
	margin-top: 1vh;
	margin-left: 1vw;
	float: right;
}

.mod-status-icon {
	float: right;
	margin-left: 1vw;
}

</style>