<template>
	
<div>
	
	
	<button v-if="isProcessing" class="ui disabled fluid primary loading button">Submit</button>	
	<button v-else class="ui disabled fluid primary button">Done!</button>

	<!-- <div v-if="feedbackPositive || feedbackNegative">
		<div v-if="feedbackPositive" class="ui positive message">
		  <i class="close icon"></i>
		  <div class="header">
		    {{ feedbackMessage }}
		  </div>
		</div>
		<div v-if="feedbackNegative" class="ui positive message">
		  <i class="close icon"></i>
		  <div class="header">
		    {{ feedbackMessage }}
		  </div>
		</div>
	</div> -->


</div>

</template>


<script>
import axios from 'axios'

export default {

	props: ['displayIndex'],

	data() {
		return {
			isProcessing: true,
			feedbackPositive: false,
			feedbackNegative: false,
			feedbackMessage: ""

		}
	},

	mounted() {
		let question = {
			examId: this.exam.id,
			displayIndex: this.displayIndex,
			marks: 0,
			text: '',
			type: "MAIN_QUESTION"
		}

		console.log("Question before creation=" + JSON.stringify(question))

		let url = 'http://localhost:8084/v1/question'
		axios.post(url, question)
		.then(response => {
			console.log("Question creation response=" + JSON.stringify(response))
			this.isProcessing = false
			if (response.status == 201) {
				this.isProcessing = false
				this.feedbackPositive = true
				this.feedbackMessage = "Created successfully"

				setTimeout(() => {
					this.$store.dispatch('getExamContent', this.exam.id)
				}, 1000)
				
			} else {
				this.isProcessing = false
				this.feedbackNegative = true
				this.feedbackMessage = "Invalid entry. Please try again"
			}
		})
		.catch(error => {
			console.log("error=" + JSON.stringify(error))
		})			
	},

	computed: {
		exam() {
			return this.$store.getters.exam
		}
	}

};

</script>


<style>


</style>