<template>
	
<div>
	<div v-bind:class="itemClass">
		<div class="ui segment">
			<a class="ui green ribbon label">Question</a>
			<span class="last-update">
				<p class="faded-text">{{ lastUpdate }}</p>
			</span>

			<p class="question-content">
					<span class="question-number"><b>{{ subQuestion.questionNumber }} )</b></span>
					{{ subQuestion.text }}
				
			</p>
			<div class="ui two column grid">
				<div class="column">
					<label><b>Marks:</b></label>
					<div class="ui input disabled marks-input">
		 				<input v-bind:value="subQuestion.marks" type="number" required min="0">
					</div>

					
				</div>

				<div class="column">
					<div v-if="user.userType != 'EXT_EXAMINER'" class="ui three column grid">
						<div v-if="!moderationOver" class="column right aligned">
							<router-link @click.native="editItem" to="" class="faded-text underline-on-hover">Edit</router-link>

							<div v-bind:id="editModalId" class="ui tiny modal">
								<i class="close icon"></i>
								<div class="header">
									<h4>Edit</h4>
									
								</div>

								<div class="content">
									<SubQuestionForm
										v-bind:subQuestionItem="subQuestionItem"
										v-on:update-question="updateQuestion"></SubQuestionForm>
								</div>
							</div>

						</div>
						<div  class="column center aligned">
							<router-link @click.native="viewHistory" to="" class="faded-text underline-on-hover">History</router-link>

							<div v-bind:id="historyModalId" class="ui small modal">
								<i class="close icon"></i>
								<div class="header">
									<h4>History</h4>
								</div>

								<div class="scrolling content">
									<SubQuestionHistory
										v-bind:subQuestionId="subQuestion.id"></SubQuestionHistory>
								</div>
							</div>

						</div>
						<div v-if="!moderationOver" class="column">
							<router-link @click.native="viewComments" to="" class="faded-text underline-on-hover">Comments</router-link>

							<div v-bind:id="commentsModalId" class="ui tiny modal">
								<i class="close icon"></i>

								<div class="header">
									<h4>Comments</h4>
								</div>

								<div class="scrolling content">
									<ItemCommentsView
										v-bind:itemId="subQuestion.id"
										v-bind:itemType="itemType"></ItemCommentsView>
								</div>
							</div>
						</div>

						<!-- <div class="column">
							<i @click="deleteItem" class="trash grey icon delete-button"></i>

							<div v-bind:id="deleteModalId" class="ui mini modal">
								<i class="close icon"></i>
								<div class="content">
									<DeleteItem
										v-bind:item="subQuestion"></DeleteItem>
								</div>
							</div>
						</div> -->
					</div>

					<div v-else class="ui three column center aligned grid">
						<div class="ui right floated column">
							<router-link @click.native="viewComments" to="" class="faded-text underline-on-hover">
							Comments</router-link>

							<div v-bind:id="commentsModalId" class="ui tiny modal">
								<i class="close icon"></i>
								<div class="header">
									<h4>Comments</h4>
								</div>
								<div class="scrolling content">
									<ItemCommentsView
										v-bind:itemId="subQuestion.id"
										v-bind:itemType="itemType"></ItemCommentsView>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div><!-- ./two col grid -->
		</div><!-- ./segment -->
	</div><!-- ./ 15 col -->

	<div v-if="displayModeration" class="ui one wide column mod-status-col">
		<ItemModeration
			v-bind:item="subQuestion"></ItemModeration>
	</div>

</div>

</template>


<script>

import SubQuestionForm from './SubQuestionForm'
import SubQuestionHistory from './SubQuestionHistory'
import ItemCommentsView from '../comments/ItemCommentsView'
import DeleteItem from '../DeleteItem'

import ItemModeration from '../ItemModeration'

export default {
	props: ['subQuestion'],

	components: {
		SubQuestionForm, SubQuestionHistory, ItemCommentsView, DeleteItem, ItemModeration
	},

	data() {
		return {
			prevMarks: null,
			subQuestionItem: this.subQuestion,
			itemType: "QUESTION"
		}
	},

	methods: {
		formatDate(date) {
			var monthNames = [
			    "January", "February", "March",
			    "April", "May", "June", "July",
			    "August", "September", "October",
			    "November", "December"
			  ];

			  var day = date.getDate();
			  var monthIndex = date.getMonth();
			  var year = date.getFullYear();

			  return day + ' ' + monthNames[monthIndex] + ' ' + year;
		},

		editItem() {
			this.prevMarks = this.subQuestion.marks
			$('#edit-modal-' + this.subQuestion.id)
				.modal('show')
		},

		updateQuestion(question) {
			this.$emit('update-total-marks', (0 - this.prevMarks))

			this.subQuestionItem = Object.assign({}, this.subQuestionItem, question)
			this.subQuestion = question
			this.$emit('update-total-marks', this.subQuestion.marks)

			$('#edit-modal-' + this.subQuestion.id)
				.modal('hide dimmer')
				.modal('hide all')
		},

		viewHistory() {
			$('#history-modal-' + this.subQuestion.id)
				.modal('show')
		},

		viewComments() {
			$('#comments-modal-' + this.subQuestion.id)
				.modal('show')
		},

		deleteItem() {
			$('#delete-modal-' + this.subQuestion.id)
				.modal('show')
		}
	},

	mounted() {
		this.$emit('update-total-marks', this.subQuestion.marks)
	},

	beforeDestroy() {
		this.$emit('update-total-marks', (0 - this.subQuestion.marks))
	},

	computed: {
		moderationOver() {
			let exam = this.$store.getters.exam
			if (exam.moderationDetails.lastUpdate 
					!= exam.moderationDetails.createDate) {
				if (exam.moderationDetails.status) {
					return true
				}
			}
			return false
		},

		lastUpdate() {
			let date = new Date(this.subQuestion.lastUpdate)
			return this.formatDate(date)
		},

		editModalId() {
			let modalId = "edit-modal-" + this.subQuestion.id 
			return modalId
		},

		historyModalId() {
			let modalId = "history-modal-" + this.subQuestion.id 
			return modalId
		},

		commentsModalId() {
			return 'comments-modal-' + this.subQuestion.id
		},

		deleteModalId() {
			return 'delete-modal-' + this.subQuestion.id
		},

		examModerated() {
			let exam = this.$store.getters.exam
			if (exam.moderationDetails.lastUpdate 
					== exam.moderationDetails.createDate) {
				return false
			}
			return true
		},

		user() {
			return this.$store.getters.user
		},

		displayModeration() {
			if (this.examModerated || this.user.userType == 'EXT_EXAMINER') {
				return true
			}
			return false
		},

		itemClass() {
			if (this.displayModeration) {
				return 'ui fifteen wide column'
			}
			return ''
		}
	}
};

</script>


<style scoped>

.question-content {
	margin-top: 2vh;
}

.last-update {
	float: right !important;
}

.delete-button {
	float: right;
}

.marks-input {
	width: 5vw !important;
}

</style>