<template>
	
<div>
	<form @submit.prevent="handleSubmit" class="ui form">
		<div class="field">
			<label>Text</label>
			<textarea v-model="text" required rows="2" placeholder="Enter question..."></textarea>
		</div>

		<div class="three fields">
			<div class="field">
				<label>Marks</label>
				<div class="ui input marks-input">
	 				<input v-model="marks" type="number" value="0" required min="0">
				</div>
			</div>
			<div class="field"></div>
			<div class="field"></div>
		</div>

		<div class="three fields">
			<div class="field">
				<div v-if="feedbackPositive || feedbackNegative">
					<div v-if="feedbackPositive" class="ui positive message">
					  <i class="close icon"></i>
					  <div class="content">
					    {{ feedbackMessage }}
					  </div>
					</div>
					<div v-if="feedbackNegative" class="ui negative message">
					  <i class="close icon"></i>
					  <div class="content">
					    {{ feedbackMessage }}
					  </div>
					</div>
				</div>
			</div>
			<div class="field"></div>
			<div class="field">
				<button v-if="isProcessing" class="ui disabled fluid primary loading button">Submit</button>
				<div v-else>
					<button v-if="!editMode" class="ui fluid primary button">Submit</button>
					<button v-else class="ui fluid primary button">Confirm</button>
				</div>
			</div>
		</div>	

	</form>
</div>

</template>


<script>

import axios from 'axios'

export default {

	props: ['displayIndex', 'subQuestionItem'],

	data() {
		return {
			text: null,
			marks: null,
			isProcessing: false,
			feedbackPositive: false,
			feedbackNegative: false,
			feedbackMessage: "",
			editMode: false
		}
	},

	mounted() {
		if (this.subQuestionItem != null) {
			this.editMode = true
			this.initFormInputs()
		}
	},

	methods: {
		initFormInputs() {
			this.text = this.subQuestionItem.text
			this.marks = this.subQuestionItem.marks
		},

		handleSubmit() {
			this.isProcessing = true

			if (this.subQuestionItem == null) {
				//create question
				let question = {
					examId: this.exam.id,
					displayIndex: this.displayIndex,
					marks: this.marks,
					text: this.text,
					type: "SUB_QUESTION"
				}

				console.log("Question before creation=" + JSON.stringify(question))

				let url = 'http://localhost:8084/v1/question'

				axios.post(url, question)
				.then(response => {
					console.log("Question creation response=" + JSON.stringify(response))
					this.isProcessing = false
					if (response.status == 201) {
						this.feedbackPositive = true
						this.feedbackMessage = "Created successfully"

						setTimeout(() => {
							this.$store.dispatch('getExamContent', this.exam.id)
						}, 1000)
						
					} else {
						this.feedbackNegative = true
						this.feedbackMessage = "Invalid entry. Please try again"
					}
				})
				.catch(error => {
					console.log("error=" + JSON.stringify(error))
				})			


			} else {
				//update question
				let prevText = this.subQuestionItem.text
				let question = this.subQuestionItem
				question.text = this.text 
				question.marks = this.marks

				let url = "http://localhost:8084/v1/question/" + question.id 

				axios.put(url, question)
				.then(response => {
					this.isProcessing = false
					if (response.status == 200) {
						this.feedbackPositive = true
						this.feedbackMessage = "Updated successfully"
						
						setTimeout(() => {
							this.$emit('update-question', question)
							this.$store.dispatch('getExamContent', this.exam.id)
						}, 1000)

					} else {
						this.feedbackNegative = true
						this.feedbackMessage = "Please try again"
					}
				})
				.catch(error => {
					console.log("edit sub question error=" + JSON.stringify(error))
					this.isProcessing = false
					question.text = prevText

					this.feedbackNegative = true
					if (error.response.data.metadata.message == 'SYS_ADMIN_ERROR') {
						this.feedbackMessage = "Unauthorised user"
					} else {
						this.feedbackMessage = "Please try again"
					}

				})
			}
		}
	},

	computed: {
		exam() {
			return this.$store.getters.exam
		}
	}

};

</script>


<style scoped>

form {
	margin-top: 2vh;
}

.marks-input {
	width: 5vw !important;
}

</style>