<template>
	
<div>
	<div id="content-loader" v-if="contentLoading" class="ui segment">
		<div class="ui active inverted dimmer">
    		<div class="ui text loader">Loading</div>
 		</div>
  		<p></p>
	</div>

	<SubQuestionHistoryItem
		v-for="item in items"
		v-bind:key="item.txId"
		v-bind:item="item"
		class="history-item"></SubQuestionHistoryItem>

</div>

</template>


<script>
import axios from 'axios'

import SubQuestionHistoryItem from './SubQuestionHistoryItem'

export default {

	props: ['subQuestionId'],

	components: {
		SubQuestionHistoryItem
	},

	data() {
		return {
			questionHistory: null,
			txHistoryInfo: null,
			contentLoading: true
		}
	},

	mounted() {
		this.getItemHistory()
	},

	methods: {
		getItemHistory() {
			let url = "http://localhost:8084/v1/question/" + this.subQuestionId + "/history"

			axios.get(url)
			.then(response => {				
				if (response.status == 200) {
					this.contentLoading = false
					this.questionHistory = response.data.data.questionHistory
					this.txHistoryInfo = response.data.data.txHistoryInfo
				}
			})
			.catch(error => {
				console.log(JSON.stringify(error))
			})

		}
	},

	computed: {
		items() {
			let items = []

			if (this.questionHistory != null && this.txHistoryInfo != null) {
				if (this.questionHistory.length > 0) {

					for (var i = 0; i <= this.questionHistory.length - 1; i ++) {
						let historyItem = this.questionHistory[i]

						let txInfo = null
						for (var txId in this.txHistoryInfo) {
							if (txId == historyItem.txId) {
								txInfo = this.txHistoryInfo[txId]
							}
						}

						historyItem.txInfo = txInfo
						items.unshift(historyItem)
					}
				}
			}

			return items
		}
	}

};

</script>


<style scoped>

#content-loader {
	min-height: 40vh;
}

.history-item {
	margin-bottom: 8vh;
}
	

</style>