<template>
	
<div>
	<form @submit.prevent="handleSubmit" class="ui form">
		<div class="three fields">
			<div class="field">
				<label>Number of Copies</label>
				<input id="num-copies-input" v-model="numCopies" type="number" required min="0" placeholder="Number of Copies" />
			</div>
			<div class="field"></div>
			<div class="field"></div>
		</div>

		<div class="three fields">
			<div class="field">
				<div v-if="feedbackPositive || feedbackNegative">
					<div v-if="feedbackPositive" class="ui positive message">
					  <i class="close icon"></i>
					  <div class="content">
					    {{ feedbackMessage }}
					  </div>
					</div>
					<div v-if="feedbackNegative" class="ui positive message">
					  <i class="close icon"></i>
					  <div class="content">
					    {{ feedbackMessage }}
					  </div>
					</div>
				</div>
			</div>
			<div class="field"></div>
			<div class="field">
				<button v-if="isProcessing" class="ui disabled fluid primary loading button">Submit</button>	
				<button v-else class="ui fluid primary button">Submit</button>
			</div>
		</div>				
	</form>
</div>

</template>


<script>

import axios from 'axios'

export default {

	data() {
		return {
			numCopies: null,
			isProcessing: false,
			feedbackPositive: false,
			feedbackNegative: false,
			feedbackMessage: ''
		}
	},

	mounted() {
		if (this.exam.generationDetails.lecturerStatus) {
			this.initFormInputs()
		}
	},

	methods: {
		initFormInputs() {
			this.numCopies = this.exam.generationDetails.examCentreNumCopies
			$('#num-copies-input')
				.prop('disabled', true)
		},

		handleSubmit() {
			this.isProcessing = true

			let url = "http://localhost:8084/v1/examination/" + this.exam.id + "/collection"


			axios.get(url, {
				params: {
					status: true,
					numCopies: this.numCopies
				}
			})
			.then(response => {
				this.isProcessing = false

				console.log("exam generation response=" + JSON.stringify(response))

				if (response.status == 200) {
					this.feedbackPositive = true
					this.feedbackMessage = "Success"
				}
			})
			.catch(error => {
				this.isProcessing = false
				console.log("exam generation error=" + JSON.stringify(error))
				this.feedbackNegative = true
				this.feedbackMessage = "Something went wrong. Please try again"
			})

		}
	},

	computed: {
		exam() {
			return this.$store.getters.exam
		},

		user() {
			return this.$store.getters.user
		}
	}

};

</script>


<style>


</style>