<template>
	
<div>

	<select v-on:change="showForm" class="ui dropdown">
		<option value="">Add Item</option>
	  	
	  	<option 
	  		v-if="context == 'examContent' || context == 'section' || context == 'mainQuestion'"
	  		value="instruction">Instruction</option>

	  	<option
	  		v-if="context == 'examContent'"
	  		value="section">Section</option>
	  	
	  	<option 
	  		v-if="context == 'section'"
	  		value="main-question">Main Question</option>
	 	
	 	<option 
	 		v-if="context == 'section' || context == 'mainQuestion'"
	 		value="sub-question">Sub Question</option>

	</select>

	<div v-if="formType">
		<InstructionForm 
			v-if="formType == 'instruction'"
			v-bind:nextDisplayIndex="nextDisplayIndex"
			v-bind:instructionType="instructionType"></InstructionForm>

		<SectionForm 
			v-if="formType == 'section'"
			v-bind:displayIndex="nextDisplayIndex"></SectionForm>

		<SubQuestionForm
			v-if="formType == 'sub-question'"
			v-bind:displayIndex="nextDisplayIndex"></SubQuestionForm>

		<MainQuestionForm
			v-if="formType == 'main-question'"
			v-bind:displayIndex="nextDisplayIndex"></MainQuestionForm>
	</div>


</div>

</template>


<script>

import InstructionForm from '../instructions/InstructionForm'
import SectionForm from '../sections/SectionForm'
import SubQuestionForm from '../questions/SubQuestionForm'
import MainQuestionForm from '../questions/MainQuestionForm'

export default {

	props: ['context', 'nextDisplayIndex', 'instructionType'],

	components: {
		InstructionForm, SectionForm, SubQuestionForm, MainQuestionForm
	},

	data() {
		return {
			formType: null
		}
	},

	methods: {
		showForm(event) {
			this.formType = event.target.value
		}
	},

	mounted() {
		$('.ui.dropdown').dropdown();
	},

	updated() {
		$('.ui.dropdown').dropdown();
	}

};

</script>


<style>
	

</style>