<template>
	
<div>
	
	<div class="ui fluid raised segment exam-item">
		<div class="ui grid">
			<div class="two column row exam-name-row">
				<div class="column">
					<span class="exam-name">
						<a href="#" @click="viewExamDetails">
							{{ exam.name }}
						</a>
						
					</span>
				</div>

				<div class="right aligned column">
					<span class="last-update faded-text">{{ lastUpdate }}</span>
				</div>
			</div>

			<div class="two column row course-exam-date-row">
				<div class="column">
					<i class="book icon"></i>
					<!-- <span class="course-code grey">{{ exam.courseCode }}</span> -->
					<span class="course-name">{{ exam.courseName }}</span>
				</div>

				<div class="right aligned column">
					<span class="faded-text">Exam Date: </span>
					<span class="exam-date">{{ examDate }}</span>
				</div>				
			</div>

			<div class="three column row status-check-row">
				<div class="column center aligned">
					<span class="faded-text">Moderated :</span>
					<span class="moderated-status">
						<i v-if="moderated" class="check circle outline big green icon"></i>
						<i v-else class="times circle outline big red icon"></i>
					</span>
				</div>
				<div class="column center aligned">
					<span class="faded-text">Photocopied :</span>
					<span class="generated-status">
						<i v-if="generated" class="check circle outline big green icon"></i>
						<i v-else class="times circle outline big red icon"></i>
					</span>
				</div>
				<div class="column center aligned">
					<span class="faded-text">Collected :</span>
					<span class="printed-status">
						<i v-if="collected" class="check circle outline big green icon"></i>
						<i v-else class="times circle outline big red icon"></i>
					</span>
				</div>
			</div>
		</div>
	</div>

</div>

</template>


<script>
	
export default {
	props: {
		exam: Object
	},

	methods: {
		viewExamDetails(event) {
			this.$store.dispatch('setExam', this.exam)

			if (this.user.userType == 'EXT_EXAMINER') {
				this.$router.push({path: '/exams/new/content'})
			} else {
				this.$router.push({path: '/exams/new/details'})
			}

			
		},


		formatDate(date) {
			var monthNames = [
			    "January", "February", "March",
			    "April", "May", "June", "July",
			    "August", "September", "October",
			    "November", "December"
			  ];

			  var day = date.getDate();
			  var monthIndex = date.getMonth();
			  var year = date.getFullYear();

			  return day + ' ' + monthNames[monthIndex] + ' ' + year;
		}
	},

	computed: {
		user() {
			return this.$store.getters.user
		},

		examDate() {
			let date = new Date(this.exam.examDate)
			return this.formatDate(date)
		},

		lastUpdate() {
			let date = new Date(this.exam.lastUpdate)
			return this.formatDate(date)
		},

		moderated() {
			let moderationDetails = this.exam.moderationDetails
			if (moderationDetails == null) {
				return false
			}
			return moderationDetails.status
		},

		generated() {
			let generationDetails = this.exam.generationDetails
			if (generationDetails == null) {
				return false
			}
			return generationDetails.examCentreStatus
		},

		collected() {
			let generationDetails = this.exam.generationDetails
			if (generationDetails == null) {
				return false
			}
			return generationDetails.lecturerStatus
		}
	}
};

</script>


<style scoped>

.last-update {
	float: right;
}

.exam-item {
	margin-bottom: 3vh !important;
}

.course-code {
	font-size: 90%;
}

.course-name {
	font-size: 80%;
}

.exam-name-row {
	padding-bottom: 0px !important;
}

.exam-name {
	font-size: 115%;
	font-weight: 500;
}

.course-exam-date-row {
	padding-bottom: 0px !important;
}

</style>