<template>
	
<div>
	
	<table class="ui sortable basic table">
		<thead>
			<tr>
				<th class="single line">Course Code</th>
				<th class="single line">Course</th>
				<th>Lecturer</th>
				<th>Status</th>
			</tr>
		</thead>

		<tbody v-if="relevantExams.length > 0">
			<tr
				v-for="exam in relevantExams"
				v-bind:key="exam.id">

				<td>{{ getCourseCode(exam.courseCode) }}</td>
				<td>{{ exam.courseName }}</td>
				<td>{{ getLecName(exam.lecturerFirstName, exam.lecturerSurname) }}</td>
				<td>
					<div class="ui one column centered grid">
						<div class="center aligned column">
							<i class="check circle outline big green icon"></i>
						</div>
					</div>
				</td>
			</tr>

		</tbody>

		<tbody v-else>
			<tr >
				<td></td>
				<td></td>
				<td>No records found</td>
				<td></td>
			</tr>
		</tbody>


	</table>

</div>

</template>


<script>

export default {

	props: ['year', 'exams'],

	mounted() {
		$('table').tablesort();
		console.log("exam setting table received year=" + this.year)
	},

	methods: {
		getCourseCode(courseCode) {
			let code = courseCode.split('_')
			return code[0] + " " + code[1]
		},

		getLecName(firstName, surname) {
			return firstName + " " + surname
		}
	},

	computed: {
		relevantExams() {
			let relevantExams = []
			let allExams = this.exams

			for (var i = 0; i <= allExams.length - 1; i ++) {
				let exam = allExams[i]

				if (exam.yearOfStudy == parseInt(this.year)) {
					relevantExams.push(exam)
				}
			}
			return relevantExams

		}
	}
};

</script>



<style>

</style>

