<template>
	<div>
		<div v-if="exam" class="ui message status-info">
			<div class="ui three column grid">
				<div class="column">
					<h5 class="ui header">Moderation Info</h5>
					<div class="info-status">
						<p class="faded-text">Status:</p>
						<i v-if="exam.moderationDetails.status" class="check circle outline big green mini icon"></i>
						<i v-else class="times circle outline big red mini icon"></i>
					</div>
					
					<div class="info-status">
						<p class="faded-text">By:</p>
						<p>{{ exam.moderationDetails.extExaminerFirstName }}</p>
						<p>{{ exam.moderationDetails.extExaminerSurname }}</p>
					</div>

					<div v-if="exam.moderationDetails.status" class="info-status">
						<p class="faded-text">Date:</p>
						<p>{{ moderationDate }}</p>
					</div>
					
				</div>

				<div class="column">
					<h5 class="ui header">Photocopy Info</h5>

					<div class="info-status">
						<p class="faded-text">Status:</p>
						<i v-if="generated" class="check circle outline big green mini icon"></i>
						<i v-else class="mini times circle outline big red icon"></i>
					</div>

					<div class="info-status">
						<p class="faded-text">By:</p>
						<p v-if="generated">{{ exam.generationDetails.examCentreStaffFirstName }}</p>
						<p v-if="generated">{{ exam.generationDetails.examCentreStaffSurname }}</p>
						<p v-if="!generated">--</p>
					</div>

					<div v-if="generated" class="info-status">
						<p class="faded-text">Date:</p>
						<p>{{ generatedDate }}</p>
						
					</div>

					<div v-if="generated" class="info-status">
						<p class="faded-text">Copies:</p>
						<p>{{ exam.generationDetails.examCentreNumCopies }}</p>
					</div>
					
					
				</div>

				<div class="column">
					<h5 class="ui header">Collection Info</h5>

					<div class="info-status">
						<p class="faded-text">Status:</p>
						<i v-if="collected" class="check circle outline big green icon"></i>
						<i v-else class="times circle outline big red icon"></i>
					</div>

					<div class="info-status">
						<p class="faded-text">By:</p>
						<p>{{ exam.lecturerFirstName }}</p>
						<p>{{ exam.lecturerSurname }}</p>
					</div>

					<div v-if="collected" class="info-status">
						<p class="faded-text">Date:</p>
						<p>{{ collectedDate }}</p>
					</div>

					<div v-if="collected" class="info-status">
						<p class="faded-text">Copies:</p>
						<p>{{ exam.generationDetails.lecturerNumCopies }}</p>
					</div>
				</div>
			</div>
		</div>
		
		<div v-if="loadingDetails">
			<div class="ui segment status-info" style="height: 10vh;">
				<div class="ui three column grid">
					<div class="column">
						<h5 class="ui header">Moderation Info</h5>
					</div>

					<div class="column">
						<h5 class="ui header">Approval Info</h5>
					</div>

					<div class="column">
						<h5 class="ui header">Printing Info</h5>
					</div>
				</div>


			  <div class="ui active inverted dimmer">
			    <div class="ui loader"></div>
			  </div>
			  <p></p>
			</div>
		</div>

	</div>
</template>


<script>

export default {

	data() {
		return {
			loadingDetails: false	
		}
	},

	methods: {
		formatDate(date) {
			var monthNames = [
			    "January", "February", "March",
			    "April", "May", "June", "July",
			    "August", "September", "October",
			    "November", "December"
			  ];

			  var day = date.getDate();
			  var monthIndex = date.getMonth();
			  var year = date.getFullYear();

			  return day + ' ' + monthNames[monthIndex] + ' ' + year;
		}
	},

	computed: {
		exam() {
			let exam = this.$store.getters.exam 
			if (exam) {
				if (exam.moderationDetails != null) {
					this.loadingDetails = false
					return exam
				}  else {
					this.loadingDetails = true
					this.$store.dispatch('getExam', exam.id)
					return null
				}
			}
			return null
		},

		generated() {
			let generationDetails = this.exam.generationDetails
			if (generationDetails == null) {
				return false
			}
			return generationDetails.examCentreStatus
		},

		collected() {
			let generationDetails = this.exam.generationDetails
			if (generationDetails == null) {
				return false
			}
			return generationDetails.lecturerStatus
		},

		generatedDate() {
			let date = new Date(this.exam.generationDetails.createDate)
			return this.formatDate(date)
		},

		collectedDate() {
			let date = new Date(this.exam.generationDetails.lastUpdate)
			return this.formatDate(date)
		},

		moderationDate() {
			let date = new Date(this.exam.moderationDetails.lastUpdate)
			return this.formatDate(date)
		},

		approvalDate() {
			let date = new Date(this.exam.approvalDetails.lastUpdate)
			return this.formatDate(date)
		}
	}
};

</script>


<style scoped>

.status-info {
	padding-top: 1vh !important;
	padding-bottom: 1vh !important;
	margin-bottom: 4vh !important;
}

div.info-status > p {
	display: inline;
}


</style>