<template>

<div>

	
	<div v-if="currentExam">
		<div v-if="!editMode && !examGenerated" class="ui three column grid">
			<div class="column">
				<button @click="enableEditMode" class="ui primary fluid button" type="submit">
					Edit Exam
				</button>
			</div>
			<div class="right floated column">
				<!-- <button class="ui red fluid button" type="submit">Delete Exam</button> -->
			</div>
		</div>
	</div>
	

	<div v-if="feedbackPositive || feedbackNegative">
		<div v-if="feedbackPositive" class="ui positive message">
		  <i class="close icon"></i>
		  <div class="header">
		    {{ feedbackMessage }}
		  </div>
		</div>

		<div v-if="feedbackNegative" class="ui positive message">
		  <i class="close icon"></i>
		  <div class="header">
		    {{ feedbackMessage }}
		  </div>
		</div>
	</div>

	<form @submit.prevent="handleSubmit" class="ui form">
		<div class="two fields form-row">
			<div class="field">
				<label>Name</label>
				<span v-if="currentExam">
					<input
						name="exam-name"
						type="text"
						required
					/>
				</span>
				<span v-else>
					<input 
						type="text"
						placeholder="Enter exam name"
						required
						v-model="examName"
					/>
				</span>
			</div>

			<div class="field">
				<label>Course</label>
				<div id="courses-dropdown" class="ui fluid search selection dropdown">
					<input type="hidden" name="course" />
					<i class="dropdown icon"></i>
					<div class="default text">Select Course</div>
					<div class="menu">
						<div 
							v-for="course in courses"
							class="item" v-bind:data-value="course.id"
						>
							{{ getCourseCode(course.courseCode) }} - {{ course.name }}
						</div>
					</div>
				</div>
			</div>

		</div><!-- two fields -->

		<div class="three fields form-row">
			<div class="field">
				<label>Exam Date</label>
				<div class="ui calendar" id="exam-date-cal">
					<div class="ui input left icon">
						<i class="calendar icon"></i>
						<input id="exam-date" type="text" placeholder="Exam Date">
					</div>
				</div>
			</div>
			<div class="field"></div>
			<div class="field"></div>		
		</div><!-- three fields -->

		

		<div class="two fields form-row">
			<div class="field">
				<label>Start Time</label>
				<div class="ui calendar" id="start-time">
					<div class="ui input left icon">
						<i class="clock icon"></i>
						<input id="start-time-input" type="text" placeholder="Start Time">
					</div>
				</div>
			</div>	

			<div class="field">
				<label>End Time</label>
				<div class="ui calendar" id="end-time">
					<div class="ui input left icon">
						<i class="clock icon"></i>
						<input id="end-time-input" type="text" placeholder="End Time">
					</div>
				</div>
			</div>

		</div><!-- three fields -->


		<div class="two fields form-row">
			<div class="field">
				<div class="grouped fields">
					<label for ="prim-numbering-format">Primary Numbering Format</label>
					<div class="field">
						<div class="ui radio checkbox">
							<input id="prim-numerical" value="NUMERICAL" type="radio" name="prim-numbering-format" tabindex="0" class="hidden">
	        				<label>Numerical</label>
						</div>
					</div>

					<div class="field">
						<div class="ui radio checkbox">
							<input id="prim-alphabetical" value="ALPHABETICAL" type="radio" name="prim-numbering-format" tabindex="0" class="hidden">
	        				<label>Alphabetical</label>
						</div>
					</div>

					<div class="field">
						<div class="ui radio checkbox">
							<input id="prim-roman" value="ROMAN_NUMERALS	" type="radio" name="prim-numbering-format" tabindex="0" class="hidden">
	        				<label>Roman-Numerals</label>
						</div>
					</div>
				</div>
			</div>

			<div class="field">
				<div class="grouped fields">
					<label for ="sec-numbering-format">Secondary Numbering Format</label>
					<div class="field">
						<div class="ui radio checkbox">
							<input id="sec-numerical" value="NUMERICAL" type="radio" name="sec-numbering-format" tabindex="0" class="hidden">
	        				<label>Numerical</label>
						</div>
					</div>

					<div class="field">
						<div class="ui radio checkbox">
							<input id="sec-alphabetical" value="ALPHABETICAL" type="radio" name="sec-numbering-format" tabindex="0" class="hidden">
	        				<label>Alphabetical</label>
						</div>
					</div>

					<div class="field">
						<div class="ui radio checkbox">
							<input id="sec-roman" value="ROMAN_NUMERALS" type="radio" name="sec-numbering-format" tabindex="0" class="hidden">
	        				<label>Roman-Numerals</label>
						</div>
					</div>
				</div>
			</div>
		</div><!-- ./two fields -->	

		<div class="three fields">
			<div class="field">
				
			</div>

			<div class="field">
				<div v-if="!currentExam">
					<button v-if="isProcessing" class="ui disabled fluid primary loading button">Submit</button>	
					<button v-else class="ui fluid primary button">Submit</button>
				</div>
				<div v-else>
					<div v-if="editMode">
						<button v-if="isProcessing" class="ui disabled fluid primary loading button">Submit</button>	
						<button v-else class="ui fluid primary button">Submit</button>
					</div>
				</div>
			</div>

			<div class="field"></div>

		</div>

	</form>
</div>


	
</template>



<script>

import axios from 'axios'

export default {

	data() {
		return {
			isProcessing: false,
			editMode: false,
			examName: null,
			feedbackPositive: false,
			feedbackNegative: false,
			feedbackMessage: ""
		}
	},

	methods: {
		getCourseCode(course) {
			var courseStr = course.split('_')
			return courseStr[0] + " " + courseStr[1]

		},

		handleSubmit() {
			this.isProcessing = true
			let exam = {
				courseId: this.courseId,
				createdByLecturerId: this.authenticatedUser.id,
				duration: this.endTime - this.startTime,
				examDate: this.examDate,
				examinationType: "ORDINARY",
				primaryNumberingFormat: this.primNumFormat,
				secondaryNumberingFormat: this.secNumFormat,
				startTime: this.startTime,
				universityId: 1,
				name: this.examName
			}

			//create exam
			if (this.currentExam == null) {
				console.log("exam before creation:=" + JSON.stringify(exam))
				axios.post('http://localhost:8084/v1/examination', exam)
				.then(response => {
					this.isProcessing = false
					if (response.status == 201) {
						this.feedbackPositive = true
						this.feedbackMessage = "Created successfully"

						let createdExam = response.data.data.examination 
						this.$store.dispatch('getExam', createdExam.id)
					} else {
						this.feedbackNegative = true
						this.feedbackMessage = "Invalid entry. Please try again"
					}
				})
				.catch(error => {
					console.log(error)
				});

			} else {
				//update exam
				exam.name = $("input[name='exam-name']").val()

				console.log("exam before update:=" +
					JSON.stringify(exam))
				
				let url = "http://localhost:8084/v1/examination/" + this.currentExam.id 
				axios.put(url, exam)
				.then(response => {
					console.log("update response=" + JSON.stringify(response))
					this.isProcessing = false
					if (response.status == 200) {
						this.feedbackPositive = true
						this.feedbackMessage = "Updated successfully"
						this.$store.dispatch('getExam', this.currentExam.id)
					} else {
						this.feedbackNegative = true
						this.feedbackMessage = "Update failed. Please try again"
					}
				})
				.catch(error => {
					this.isProcessing = false
					this.feedbackNegative = true
					this.feedbackMessage = "Update failed. Please try again"
					console.log("Error=" + JSON.stringify(error))
				})
			}
		},

		activateFormInputs() {
			$('.ui.dropdown').dropdown();
			$('.ui.radio.checkbox').checkbox();

			$('#exam-date-cal').calendar({
				type: 'date'
			});

			$('#start-time').calendar({
				type: 'time'
			});
			$('#end-time').calendar({
				type: 'time'
			});

			$('.message .close')
				.on('click', function () {
					$(this)
						.closest('.message')
						.transition('fade')
				});

		},

		enableEditMode() {
			this.editMode = true
			this.initFormInputs()
		},

		getDateString(date) {
			let months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
			return date.getDate() + "-" + months[date.getMonth()] + "-" + date.getFullYear()

		},

		getMonthIndex(month) {
			let months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

			for (var i = 0; i <= months.length - 1; i ++) {
				if (month == months[i]) {
					return i
				}
			}
		},

		getTimeString(date) {
			let hours = date.getHours()
			let minutes = date.getMinutes()
			let am_pm = hours >= 12 ? 'PM' : 'AM' 

			hours = (hours > 12) ? hours % 12 : hours
			minutes = (minutes < 10) ? '0' + minutes : minutes
			return hours + ":" + minutes + " " + am_pm
		},

		initFormInputs() {
			let courseId = this.currentExam.courseId
			let examDate = new Date(this.currentExam.examDate)
			let startDate = new Date(this.currentExam.startTime)
			let endDate = new Date(this.currentExam.startTime + this.currentExam.duration)
			let primNumFormat = this.currentExam.primaryNumberingFormat
			let secNumFormat = this.currentExam.secondaryNumberingFormat

			if (this.editMode) {
				$('#courses-dropdown')
					.dropdown('set selected', courseId)
					.removeClass('disabled')

				$('#exam-date')
					.prop('disabled', false)

				$('#start-time-input')
					.prop('disabled', false)

				$('#end-time-input')
					.prop('disabled', false)

				$("input[name='prim-numbering-format']")
					.prop('disabled', false)

				$("input[name='sec-numbering-format']")
					.prop('disabled', false)

				$("input[name='exam-name']")
					.prop('disabled', false)

			} else {
				$("input[name='exam-name']")
					.val(this.currentExam.name)
					.prop('disabled', true)

				$('#courses-dropdown')
					.dropdown('set selected', courseId)
					.addClass('disabled')

				$('#exam-date')
					.val(this.getDateString(examDate))
					.prop('disabled', true)

				$('#start-time-input')
					.val(this.getTimeString(startDate))
					.prop('disabled', true)

				$('#end-time-input')
					.val(this.getTimeString(endDate))
					.prop('disabled', true)

				$("input[name='prim-numbering-format']").each(function () {
					let option = $(this)
					if (option.val() == primNumFormat) {
						option.prop('checked', true)
					}
				}).prop('disabled', true)

				$("input[name='sec-numbering-format']").each(function () {
					let option = $(this)
					if (option.val() == secNumFormat) {
						option.prop('checked', true)
					}
				}).prop('disabled', true)
			}

		}
	},

	mounted() {
		this.activateFormInputs()

		if (this.currentExam != null) {
			this.initFormInputs()
		}
	},

	updated() {
		if (this.currentExam != null) {
			this.initFormInputs()
		}
	},

	computed: {
		examGenerated() {
			let exam = this.currentExam
			if (exam.generationDetails != null) {
				if (exam.generationDetails.examCentreStatus) {
					return true
				}
			}
			return false
		},

		authenticatedUser() {
			return this.$store.getters.user
		},

		currentExam() {
			return this.$store.getters.exam
		},

		courses() {
			return this.$store.getters.courses
		},

		courseId() {
			return $('#courses-dropdown').dropdown('get value')
		},

		examDate() {
			let value = $('#exam-date').val()

			if (this.editMode) {
				let dateParams = value.split('-')
				let monthIndex = this.getMonthIndex(dateParams[1])
				return new Date(
					parseInt(dateParams[2], 10),
					parseInt(monthIndex, 10),
					parseInt(dateParams[0], 10)
				).getTime()
			} else {

			}

			let examDate = new Date(value).getTime()
			console.log("examDate=" + examDate)

			return new Date(value).getTime()
		},

		startTime() {
			let timeStr = $('#start-time-input').val()
			timeStr = timeStr.split(':')

			let hr = parseInt(timeStr[0])
			let min = parseInt(timeStr[1].substring(0, 2))
			let amPm = timeStr[1].substring(-2)

			if (amPm == 'PM') {
				hr += 12
			}

			min += (hr * 60)
			let millis = min * 60 * 1000
			
			let value = new Date(this.examDate + millis)
			
			return value.getTime()
		},

		endTime() {
			let timeStr = $('#end-time-input').val()
			timeStr = timeStr.split(':')

			let hr = parseInt(timeStr[0])
			let min = parseInt(timeStr[1].substring(0, 2))
			let amPm = timeStr[1].substring(-2)

			if (amPm == 'PM') {
				hr += 12
			}

			min += (hr * 60)
			let millis = min * 60 * 1000
			
			let value = new Date(this.examDate + millis)
			
			return value.getTime()
		},

		primNumFormat() {
			return $("input[name='prim-numbering-format']:checked").val();
		},

		secNumFormat() {
			return $("input[name='sec-numbering-format']:checked").val();
		}
	}

};


</script>

<style scoped>

form {
	margin-top: 3vh;
}

.form-row {
	margin-bottom: 5vh !important;
}

</style>