<template>
<div>
	
		
	<div class="ui fluid styled accordion section-title">
		<div class="active title">
			<i class="dropdown icon"></i>
			<p class="section-name">Section {{ section.name }}</p>

			<span v-if="displayModeration">
				<i v-if="moderationStatus" class="check circle outline big green icon mod-status-icon"></i>
				<i v-if="moderationStatus == false" class="times circle outline big red icon mod-status-icon"></i>
				<i v-if="moderationStatus == null" class="info circle large icon mod-status-icon" style="margin-top: 5px;"></i>
			</span>

			<!-- <i v-if="user.userType != 'EXT_EXAMINER'" class="trash icon delete-button faded-text"></i> -->

			<span class="section-total-marks">
				<div class="ui large label">
					Marks
					<div class="detail">
						{{ totalMarks }}
					</div>
				</div>
			</span>

			<span class="section-num-questions">
				<div class="ui large label">
					No. of questions
					<div class="detail">
						{{ section.nestedItems.length }}
					</div>
				</div>
			</span>	

		</div>

		<div class="active content">
			<div v-if="section.nestedItems.length > 0">
				<div v-for="item in section.nestedItems">
					
					<InstructionItem
						v-if="item.docType == 'instruction'"
						v-bind:instruction="item"
						v-bind:key="item.id"
						v-bind:class="addUIGridClass"
						class="list-item"></InstructionItem>
						

					<MainQuestionItem
						v-if="item.type == 'MAIN_QUESTION'"
						v-bind:mainQuestion="item"
						v-bind:key="item.id"
						v-on:update-total-marks="updateTotalMarks"
						class="list-item"></MainQuestionItem>

					<SubQuestionItem
						v-if="item.type == 'SUB_QUESTION'"
						v-bind:subQuestion="item"
						v-bind:key="item.id"
						v-on:update-total-marks="updateTotalMarks"
						v-bind:class="addUIGridClass"
						class="list-item"></SubQuestionItem>
					
				</div>
			</div>

			<ExamItemForm
				v-if="(user.userType != 'EXT_EXAMINER') && !moderationOver"
				v-bind:context="context"
				v-bind:nextDisplayIndex="nextDisplayIndex"
				v-bind:instructionType="instructionType"></ExamItemForm>
		</div>
	</div>

</div>

</template>


<script>
	
import InstructionItem from '../instructions/InstructionItem'
import MainQuestionItem from '../questions/MainQuestionItem'
import SubQuestionItem from '../questions/SubQuestionItem'

import ExamItemForm from '../exams/ExamItemForm'

import ItemModeration from '../ItemModeration'

export default {
	props: ['section'],

	data() {
		return {
			totalMarks: 0,
			context: "section",
			instructionType: "SECTION_LEVEL"
		}
	},

	components: {
		MainQuestionItem, InstructionItem, SubQuestionItem, ExamItemForm, ItemModeration
	},

	methods: {
		updateTotalMarks(marks) {
			let parsedMarks = parseInt(marks)
			this.totalMarks += parsedMarks
			this.$emit('update-total-marks', parsedMarks)
		},

		itemModerated(item) {
			if (item.moderationDetails.lastUpdate 
					== item.moderationDetails.createDate) {
				return false
			}
			return true
		}
	},

	mounted() {
		$('.ui.accordion').accordion({
			active: true
		});
	},

	computed: {
		moderationOver() {
			let exam = this.$store.getters.exam
			if (exam.moderationDetails.lastUpdate 
					!= exam.moderationDetails.createDate) {
				if (exam.moderationDetails.status) {
					return true
				}
			}
			return false
		},

		moderationStatus() {
			let status = true
			let nestedItems = this.section.nestedItems

			for (var i = 0; i <= nestedItems.length - 1; i ++) {
				let item = nestedItems[i]

				if ('nestedItems' in item) {
					let items = item.nestedItems
					for (var j = 0; j <= items.length - 1; j ++) {
						let x = items[j]
						if (!this.itemModerated(x)) {
							status = null
							break
						} else {
							if (!x.moderationDetails.status) {
								status = false
								// break
							}
						}
					}

					if (status == null) {
						break
					}
				} else {
					if (!this.itemModerated(item)) {
						status = null
						break
					} else {
						if (!item.moderationDetails.status) {
							status = false
							// break
						}
					}
				}
			}
			return status
		},

		addUIGridClass() {
			if (this.examModerated || this.user.userType == 'EXT_EXAMINER') {
				return 'ui grid'
			}
			return ''
		},

		user() {
			return this.$store.getters.user
		},

		nextDisplayIndex() {
			let length = this.section.nestedItems.length

			if (length > 0) {
				let lastItem = this.section.nestedItems[length - 1]

				if (lastItem.docType == 'question' && lastItem.type == 'MAIN_QUESTION') {
					return lastItem.displayIndex + lastItem.nestedItems.length + 1

				} else {
					return lastItem.displayIndex + 1
				}
			} else {
				return this.section.displayIndex + 1 
			}
		},

		examModerated() {
			let exam = this.$store.getters.exam
			if (exam.moderationDetails.lastUpdate 
					== exam.moderationDetails.createDate) {
				return false
			}
			return true
		},

		displayModeration() {
			if (this.examModerated || this.user.userType == 'EXT_EXAMINER') {
				return true
			}
			return false
		}
	}
};

</script>


<style scoped>

.section-title {
	background-color: #D3D3D3;
	padding-bottom: 0px !important;
}

.section-name {
	display: inline-block !important;
}

.section-num-questions {
	float: right;
}

.section-total-marks {
	float: right;
	margin-left: 1vw;
}

.list-item {
	margin-bottom: 3vh;
}

.delete-button {
	margin-top: 1vh;
	margin-left: 1vw;
	float: right;
}

.mod-status-icon {
	float: right;
	margin-left: 1vw;
}


</style>