<template>
	
	<div>
		<form @submit.prevent="createSection" class="ui form">

			<div class="three fields">
				<div class="field">
					<label>Name</label>
					<input v-model="sectionName" type="text" required placeholder="Enter section name"/>
				</div>
				<div class="field"></div>
				<div class="field"></div>
				
			</div>

			<div class="three fields">
				<div class="field">
					<div v-if="feedbackPositive || feedbackNegative">
						<div v-if="feedbackPositive" class="ui positive message">
						  <i class="close icon"></i>
						  <div class="header">
						    {{ feedbackMessage }}
						  </div>
						</div>
						<div v-if="feedbackNegative" class="ui positive message">
						  <i class="close icon"></i>
						  <div class="header">
						    {{ feedbackMessage }}
						  </div>
						</div>
					</div>
				</div>
				<div class="field"></div>
				<div class="field">
					<button v-if="isProcessing" class="ui disabled fluid primary loading button">Submit</button>	
					<button v-else class="ui fluid primary button">Submit</button>
				</div>
			</div>				
		</form>	
	</div>

</template>


<script>

import axios from 'axios'

export default {

	props: ['displayIndex'],

	data() {
		return {
			sectionName: null,
			isProcessing: false,
			feedbackPositive: false,
			feedbackNegative: false,
			feedbackMessage: ""
		}
	},

	methods: {
		createSection() {
			this.isProcessing = true

			let section = {
				examId: this.exam.id,
				displayIndex: this.displayIndex,
				name: this.sectionName
			}

			let url = 'http://localhost:8084/v1/section'
			axios.post(url, section)
			.then(response => {
				this.isProcessing = false
				if (response.status == 201) {
					this.isProcessing = false
					this.feedbackPositive = true
					this.feedbackMessage = "Created successfully"

					let createdSection = response.data.data.section

					setTimeout(() => {
						this.$store.dispatch('getExamContent', this.exam.id)
					}, 300)
					
				} else {
					this.isProcessing = false
					this.feedbackNegative = true
					this.feedbackMessage = "Invalid entry. Please try again"
				}
			})
			.catch(error => {
				console.log("error=" + JSON.stringify(error))
			})			
		}
	},

	mounted() {
	},

	computed: {
		exam() {
			return this.$store.getters.exam
		}
	}
};

</script>


<style scoped>

form {
	margin-top: 2vh;
}

</style>