<template>

<div>
	<div id="content-loader" v-if="contentLoading" class="ui segment">
		<div class="ui active inverted dimmer">
    		<div class="ui text loader">Loading</div>
 		</div>
  		<p></p>
	</div>

	<InstructionHistoryItem
		v-for="item in items"
		v-bind:key="item.txId"
		v-bind:item="item"
		class="history-item"></InstructionHistoryItem>

</div>

</template>


<script>

import axios from 'axios'

import InstructionHistoryItem from './InstructionHistoryItem'

export default {

	props: ['instructionId'],

	components: {
		InstructionHistoryItem
	},

	data() {
		return {
			instructionHistory: null,
			txHistoryInfo: null,
			contentLoading: true,
		}
	},

	mounted() {
		this.getItemHistory()
	},

	methods: {
		getItemHistory() {
			let url = "http://localhost:8084/v1/instruction/" + this.instructionId + "/history"

			axios.get(url)
			.then(response => {
				if (response.status == 200) {
					this.contentLoading = false

					this.instructionHistory = response.data.data.instructionHistory
					this.txHistoryInfo = response.data.data.txHistoryInfo
				}
			})
			.catch(error => {
				console.log(JSON.stringify(error))
			})
		}
	},

	computed: {
		items() {
			let items = []

			if (this.instructionHistory != null && this.txHistoryInfo != null) {
				if (this.instructionHistory.length > 0) {

					for (var i = 0; i <= this.instructionHistory.length - 1; i ++) {
						let item = this.instructionHistory[i]
						let txInfo = null
						for (var txId in this.txHistoryInfo) {
							if (txId == item.txId) {
								txInfo = this.txHistoryInfo[txId]
							}
						}

						item.txInfo = txInfo
						items.unshift(item)
					}
				}
			}
			return items
		}
	}

};

</script>


<style scoped>

#content-loader {
	min-height: 40vh;
}

.history-item {
	margin-bottom: 8vh;
}

</style>