<template>
	
<div>
	
	<div class="ui two column grid">
		<div class="column">
			<span class="faded-text">By: </span>
			<span>{{ item.txInfo.creatorFirstName }}</span>
			<span>{{ item.txInfo.creatorSurname }}</span>
		</div>

		<div class="column">
			<span class="faded-text">On: </span>
			<span>{{ txDate }}</span>
		</div>
	</div>

	<div class="ui raised segment">
		<a class="ui orange ribbon label">Instruction</a>
		<p style="margin-top: 2vh;"><b>{{ item.value.text }}</b></p>
	</div>

	<div v-if="user.userType == 'SYS_ADMIN'">
		<span class="faded-text">Block No. :</span>
		<span>{{ item.txInfo.blockNumber }}</span>
	</div>
	
	<div v-if="user.userType == 'SYS_ADMIN'">
		<span class="faded-text">TransactionID: </span>
		<span>{{ item.txId }}</span>
	</div>

	<div v-if="user.userType == 'SYS_ADMIN'">
		<span class="faded-text">SSL Cert: </span>
		<div class="ui message">
			<p>{{ item.txInfo.sslCertificate }}</p>
		</div>
		<!-- <span>{{ item.txInfo.sslCertificate }}</span> -->
	</div>

</div>

</template>


<script>

export default {

	props: ['item'],

	mounted() {
	},

	methods: {
		formatDate(date) {
			var monthNames = [
			    "January", "February", "March",
			    "April", "May", "June", "July",
			    "August", "September", "October",
			    "November", "December"
			  ];

			  var day = date.getDate();
			  var monthIndex = date.getMonth();
			  var year = date.getFullYear();
			  var hours = date.getHours()
			  var minutes = date.getMinutes()

			  let am_pm = hours >= 12 ? 'PM' : 'AM' 

			  hours = (hours > 12) ? hours % 12 : hours
			  minutes = (minutes < 10) ? '0' + minutes : minutes
			  var timeStr = hours + ":" + minutes + " " + am_pm

			  var dateStr = day + ' ' + monthNames[monthIndex] + ' ' + year



			  return dateStr + " " + timeStr;
		}
	},

	computed: {
		txDate() {
			let date = new Date(this.item.value.lastUpdate)
			return this.formatDate(date)
		},

		user() {
			return this.$store.getters.user
		}
	}

};

</script>


<style>
	

</style>