<template>
	
	<div>
		<form @submit.prevent="handleSubmit" class="ui form">
			<div class="field">
				<label>Text</label>
				<textarea required v-model="text" rows="2" placeholder="Enter instruction ..."></textarea>
			</div>

			<div class="three fields">
				<div class="field">
					<div v-if="feedbackPositive || feedbackNegative">
						<div v-if="feedbackPositive" class="ui positive message">
						  <i class="close icon"></i>
						  <div class="content">
						    {{ feedbackMessage }}
						  </div>
						</div>
						<div v-if="feedbackNegative" class="ui negative message">
						  <i class="close icon"></i>
						  <div class="content">
						    {{ feedbackMessage }}
						  </div>
						</div>
					</div>
				</div>
				<div class="field"></div>
				<div class="field">
					<button v-if="isProcessing" class="ui disabled fluid primary loading button">Submit</button>
					<div v-else>
						<button v-if="!editMode" class="ui fluid primary button">Submit</button>
						<button v-else class="ui fluid primary button">Confirm</button>
					</div>
				</div>
			</div>
		</form>
	</div>

</template>



<script>
import axios from 'axios'

export default {

	props: ['nextDisplayIndex', 'instructionType', 'instruction'],

	data() {
		return {
			text: null,
			isProcessing: false,
			feedbackPositive: false,
			feedbackNegative: false,
			feedbackMessage: "",
			editMode: false
		}
	},

	mounted() {
		if (this.instruction != null) {
			this.editMode = true
			this.text = this.instruction.text
		}
		
		$('.message .close')
		  .on('click', function() {
		    $(this)
		      .closest('.message')
		      .transition('fade');
		 });
	},

	methods: {
		handleSubmit() {
			this.isProcessing = true

			if (this.instruction == null) {
				//create instruction

				let instruction = {
					examId: this.exam.id,
					text: this.text,
					type: this.instructionType,
					displayIndex: this.nextDisplayIndex
				}
				console.log("instruction before submission=" + JSON.stringify(instruction))
				
				axios.post('http://localhost:8084/v1/instruction', instruction)
				.then(response => {
					console.log(response)
					if (response.status == 201) {
						this.isProcessing = false
						this.feedbackPositive = true
						this.feedbackMessage = "Created successfully"

						let createdInstruction = response.data.data.instruction

						setTimeout(() => {
							this.$store.dispatch('getExamContent', this.exam.id)
						}, 300)

					} else {
						this.isProcessing = false
						this.feedbackNegative = true
						this.feedbackMessage = "Invalid entry. Please try again"
					}
				})
				.catch(error => {
					console.log(error)
				});


			} else {
				//update instruction
				let prevText = this.instruction.text
				let instruction = this.instruction
				instruction.text = this.text

				let url = "http://localhost:8084/v1/instruction/" + instruction.id 

				axios.put(url, instruction)
					.then(response => {
						this.isProcessing = false

						if (response.status == 200) {
							this.feedbackPositive = true
							this.feedbackMessage = "Updated successfully"

							setTimeout(() => {
								this.$emit('update-instruction', instruction)
								this.$store.dispatch('getExamContent', this.exam.id)
							}, 1000)
						}

					})
					.catch(error => {
						instruction.text = prevText
						this.feedbackNegative = true
						if (error.response.data.metadata.message == 'SYS_ADMIN_ERROR') {
							this.feedbackMessage = "Unauthorised user"
						} else {
							this.feedbackMessage = "Please try again"
						}
						
					})
			}


		}
	},

	computed: {
		exam() {
			return this.$store.getters.exam
		}
	}
};

</script>



<style scoped>
	
form {
	margin-top: 2vh;
}

</style>