<template>
	
<div>
	<div v-bind:class="itemClass">
		<div class="ui segment">
			<a class="ui orange ribbon label">Instruction</a>
			<span class="last-update">
				<p class="faded-text">{{ lastUpdate }}</p>
			</span>

			<p class="instruction-content">
				<b>
					{{ instruction.text }}
				</b>
			</p>
			<div class="ui two column grid">
				<div class="column">
					
				</div>

				<div class="column">
					

					<div v-if="(user.userType != 'EXT_EXAMINER')" class="ui three column grid">
						<div v-if="!moderationOver" class="column right aligned">
							<router-link @click.native="editItem" to="" class="faded-text underline-on-hover">Edit</router-link>

							<div v-bind:id="editModalId" class="ui tiny modal">
								<i class="close icon"></i>
								<div class="header">
									<h4>Edit</h4>
								</div>

								<div class="content">
									<InstructionForm
										v-bind:instruction="instructionItem"
										v-on:update-instruction="updateInstruction"></InstructionForm>
								</div>
							</div>


						</div>

						<div class="column center aligned">
							<router-link @click.native="viewHistory" to="" class="faded-text underline-on-hover">History</router-link>

							<div v-bind:id="historyModalId" class="ui small modal">
								<i class="close icon"></i>
								<div class="header">
									<h4>History</h4>
								</div>
								<div class="scrolling content">
									<InstructionHistory
										v-bind:instructionId="instructionItem.id"
										v-bind:instructionText="instructionItem.text"></InstructionHistory>
								</div>
							</div>

						</div>

						<div v-if="!moderationOver" class="column">
							<router-link
								@click.native="viewComments" to="" class="faded-text underline-on-hover">
							Comments</router-link>

							<div v-bind:id="commentsModalId" class="ui tiny modal">
								<i class="close icon"></i>
								<div class="header">
									<h4>Comments</h4>
								</div>
								<div class="scrolling content">
									<ItemCommentsView
										v-bind:itemId="instructionItem.id"
										v-bind:itemType="itemType"></ItemCommentsView>
								</div>
							</div>

						</div>



						<!-- <div class="column">
							<i @click="deleteItem" class="grey trash icon delete-button"></i>

							<div v-bind:id="deleteModalId" class="ui mini modal">
								<i class="close icon"></i>
								<div class="content">
									<DeleteItem
										v-bind:item="instruction"></DeleteItem>
								</div>
							</div>
						</div> -->
					</div>

					<div v-else class="ui three column center aligned grid">
						<div class="ui right floated column">
							<router-link @click.native="viewComments" to="" class="faded-text underline-on-hover">
							Comments</router-link>

							<div v-bind:id="commentsModalId" class="ui tiny modal">
								<i class="close icon"></i>
								<div class="header">
									<h4>Comments</h4>
								</div>
								<div class="scrolling content">
									<ItemCommentsView
										v-bind:itemId="instructionItem.id"
										v-bind:itemType="itemType"></ItemCommentsView>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div><!-- ./v-else -->

	<div v-if="displayModeration" class="ui one wide column mod-status-col">
		<ItemModeration
			v-bind:item="instruction"></ItemModeration>
	</div>

</div>

</template>


<script>

import InstructionForm from './InstructionForm'
import InstructionHistory from './InstructionHistory'
import ItemCommentsView from '../comments/ItemCommentsView'
import DeleteItem from '../DeleteItem'

import ItemModeration from '../ItemModeration'

export default {
	props: ['instruction'],

	components: {
		InstructionForm, InstructionHistory, ItemCommentsView, DeleteItem, ItemModeration
	},

	data() {
		return {
			instructionItem: this.instruction,
			itemType: "INSTRUCTION"
		}
	},

	methods: {
		formatDate(date) {
			var monthNames = [
			    "January", "February", "March",
			    "April", "May", "June", "July",
			    "August", "September", "October",
			    "November", "December"
			  ];

			  var day = date.getDate();
			  var monthIndex = date.getMonth();
			  var year = date.getFullYear();

			  return day + ' ' + monthNames[monthIndex] + ' ' + year;
		},

		editItem() {
			$('#edit-modal-' + this.instruction.id)
				.modal('show')
		},

		updateInstruction(instruction) {
			this.instruction = instruction

			$('#edit-modal-' + this.instruction.id)
				.modal('hide dimmer')
				.modal('hide all')
		},

		viewHistory() {
			$('#history-modal-' + this.instruction.id)
				.modal('show')
		},

		viewComments() {
			$('#comments-modal-' + this.instruction.id)
				.modal('show')
		},

		deleteItem() {
			$('#delete-modal-' + this.instruction.id)
				.modal('show')
		}
	},

	computed: {
		lastUpdate() {
			let date = new Date(this.instruction.lastUpdate)
			return this.formatDate(date)
		},

		editModalId() {
			return 'edit-modal-' + this.instruction.id
		},

		historyModalId() {
			return 'history-modal-' + this.instruction.id
		},

		commentsModalId() {
			return 'comments-modal-' + this.instruction.id
		},

		deleteModalId() {
			return 'delete-modal-' + this.instruction.id
		},

		examModerated() {
			let exam = this.$store.getters.exam
			if (exam.moderationDetails.lastUpdate 
					== exam.moderationDetails.createDate) {
				return false
			}
			return true
		},

		moderationOver() {
			let exam = this.$store.getters.exam
			if (exam.moderationDetails.lastUpdate 
					!= exam.moderationDetails.createDate) {
				if (exam.moderationDetails.status) {
					return true
				}
			}
			return false
		},

		user() {
			return this.$store.getters.user
		},

		displayModeration() {
			if (this.examModerated || this.user.userType == 'EXT_EXAMINER') {
				return true
			}
			return false
		},

		itemClass() {
			if (this.displayModeration) {
				return 'ui fifteen wide column'
			}
			return ''
		}
	}
};

</script>


<style scoped>

.instruction-content {
	margin-top: 2vh;
}

.last-update {
	float: right;
}

.delete-button {
	float: right;
}

</style>