<template>
	
<div>
	<div id="two-fa-form-view" class="ui three column grid">
		<div class="column"></div>
		<div class="column">
			<div id="ver-form-segment" class="ui raised segment">
				<h3 class="center aligned">Verify Code</h3>
				<div class="ui divider"></div>
				<Home2FAForm></Home2FAForm>
			</div>
		</div>
		<div class="column"></div>
	</div>
</div>

</template>


<script>

import Home2FAForm from '../components/Home2FAForm'

export default {

	components: {
		Home2FAForm
	}

};

</script>


<style scoped>

#two-fa-form-view {
	margin-top: 0vh !important;
}

#ver-form-segment {
	margin-top: 12vh !important;
	z-index: 2;
	position: relative;
}

</style>