<template>
	
<div>
	
	<div id="login-form-view" class="ui three column grid">
		<div class="column"></div>
		<div class="column">
			<div id="form-segment" class="ui raised segment">
				<h3 class="center aligned">Welcome</h3>
				<div class="ui divider"></div>
				<HomeLoginForm></HomeLoginForm>
			</div>
		</div>
		<div class="column"></div>
	</div>

</div>

</template>


<script>

import HomeLoginForm from '../components/HomeLoginForm'

export default {

	components: {
		HomeLoginForm
	}

};

</script>


<style scoped>

#login-form-view {
	/*margin-top: 10vh !important;*/
	margin-top: 0vh !important;
}

#form-segment {
	margin-top: 12vh !important;
	z-index: 2;
	position: relative;
}

</style>