<template>
	
<div>
	<div class="ui fluid four item menu main-chairperson-menu">
		<router-link class="item" to="">1st Year</router-link>
		<router-link class="item" to="">2nd Year</router-link>
		<router-link class="item" to="">3rd Year</router-link>
		<router-link class="item" to="">4th Year</router-link>
	</div>
</div>

</template>


<script>
	
export default {

	// data() {
	// 	return {
	// 		activeTabUrl: null
	// 	}
	// },

	// mounted() {
	// 	this.activeTabUrl = window.location.pathname
	// },

	// updated() {
	// 	this.activeTabUrl = window.location.pathname
	// },

};

</script>



<style scoped>

.main-chairperson-menu {
	margin-bottom: 3vh !important;
}

</style>