<template>
	
<div>

	<div id="setting-grid" class="ui fluid dividing header">
		Moderation Overview
	</div>

	<div class="ui grid">
		<div class="row">
			<div class="one wide column"></div>
			<div class="fourteen wide column">
				<div v-if="allExams.length > 0">
					<h4>Year 1</h4>
					<ExamModerationTable
						v-bind:year="1"
						v-bind:exams="allExams"></ExamModerationTable>

					<h4>Year 2</h4>
					<ExamModerationTable
						v-bind:year="2"
						v-bind:exams="allExams"></ExamModerationTable>

					<h4>Year 3</h4>
					<ExamModerationTable
						v-bind:year="3"
						v-bind:exams="allExams"></ExamModerationTable>

					<h4>Year 4</h4>
					<ExamModerationTable
						v-bind:year="4"
						v-bind:exams="allExams"></ExamModerationTable>

				</div>
				<div v-else>
					<div id="loader-segment" class="ui segment">
						<div class="ui active inverted dimmer">
							<div class="ui text loader">
								Loading
							</div>
						</div>
						<p></p>
					</div>
				</div>
			</div>
			<div class="one wide column"></div>
		</div>

		
	</div>
	
</div>

</template>


<script>
import axios from 'axios'

import ExamModerationTable from '../../components/exams/ExamModerationTable'

export default {

	components: {
		ExamModerationTable
	},

	data() {
		return {
			allExams: []
		}
	},

	mounted() {
		let url = "http://localhost:8084/v1/examination"

		axios.get(url)
		.then(response => {
			if (response.status == 200) {
				this.allExams = response.data.data.examinations
			}

		})
		.catch(error => {
			console.log(JSON.stringify(error))
		})

	}

};

</script>


<style scoped>

#setting-grid {
	margin-top: 2vh;
}

#loader-segment {
	height: 80vh;
}

</style>