<template>
	
<div>

	<div id="page-header" class="ui dividing header">
		Dashboard
	</div>

	<div class="ui grid">
		<span style="color: white;" v-if="user"></span>

		<div class="three column row">
			<div class="left floated column">
				<!-- <div class="ui fluid search selection dropdown">
					<input type="hidden" name="courseCode" />
					<i class="dropdown icon"></i>
					<div class="default text">Filter By Course</div>
					<div class="menu">
						<div class="item" v-if="coursesLoading">
							<div class="ui active inverted dimmer">
							    <div class="ui mini loader">Loading</div>
							 </div>
						</div>
						<div class="item" v-else data-value="0">All</div>

						<div class="item" v-for="course in courses">
							{{ course.courseCode }} - {{ course.name }}
						</div>
					</div>
				</div> -->
			</div><!-- ./left floated column -->

			<div class="right floated column">
				<!-- <div class="ui icon fluid input">
					<input type="text" placeholder="Search by Exam Name">
					<i class="search link icon"></i>
				</div> -->
			</div><!-- ./right floated column -->
		</div>

		<div v-if="user.userType != 'EXT_EXAMINER'" class="ui four column row">
			<div class="column">
				<router-link to="/exams/new">
					<button class="ui primary button">
						New Exam
					</button>
				</router-link>
			</div>
		</div>
	</div><!-- ./grid -->


	<div class="ui eight column centered grid">
		<div class="thirteen wide column">
			<div v-if="examsLoading" class="ui raised segment" style="height: 18vh;">
			  <div class="ui active inverted dimmer">
			    <div class="ui text loader">Loading</div>
			  </div>
			</div>

			<ExamViewItem v-if="!examsLoading" v-for="exam in exams" v-bind:exam="exam" v-bind:key="exam.id"></ExamViewItem>
		</div>
	</div>

	<!-- <div class="ui three column grid">
		<div class="right floated column">
			<div class="ui right floated pagination menu">
							<a class="icon item">
					<i class="left chevron icon"></i>
				</a>
				<a class="item">1</a>
				<a class="item">2</a>
				<a class="item">3</a>
				<a class="item">4</a>
				<a class="icon item">
					<i class="right chevron icon"></i>
				</a>
			</div>
		</div>
	</div> -->

</div>

</template>


<script>

import ExamViewItem from '../../components/exams/ExamViewItem'

import axios from 'axios'

export default {

	data() {
		return {
			coursesLoading: false,
			examsLoading: false,
		}
	},

	components: {
		ExamViewItem
	},

	mounted() {
		$('.ui.dropdown').dropdown();

		this.$store.dispatch('setExam', null)
		this.$store.dispatch('refreshDeletedExamItems')

		if (this.user != null) {
			this.getCourses(this.user.userType, this.user.id)
			this.getExams(this.user.userType, this.user.id)
		}	
	},

	updated() {
		
	},

	methods: {
		getCourses(userType, userId) {
			this.coursesLoading = true 

			let url = "http://localhost:8084/v1/"

			if (userType == 'LECTURER') {
				url += "lecturer/" + userId + "/courses"
			} else if (userType == 'EXT_EXAMINER') {
				url += "ext-examiner/" + userId + "/courses"
			} else if (userType == 'SYS_ADMIN') {
				url += "course"
			}

			axios.get(url)
			.then(response => {
				this.coursesLoading = false
				if (response.status == 200) {
					let courses = response.data.data.courses 
					this.$store.dispatch('setCourses', courses)
				}
			})
			.catch(error => {
				console.log("getCourses error=" + JSON.stringify(error))
			});
		},

		getExams(userType, userId) {
			this.examsLoading = true

			let url = "http://localhost:8084/v1/"

			if (userType == 'LECTURER') {
				url += "lecturer/" + userId + "/exams"
			} else if (userType == 'EXT_EXAMINER') {
				url += "ext-examiner/" + userId + "/exams"
			}
			if (userType == 'SYS_ADMIN') {
				url += "examination"
			}

			axios.get(url)
			.then(response => {
				this.examsLoading = false

				if (response.status == 200) {
					let exams = response.data.data.examinations
					this.$store.dispatch('setAllExams', exams)
				}
			})
			.catch(error => {
				console.log("getExams error=" + JSON.stringify(error))
			});

		}
	},

	computed: {
		user() {
			return this.$store.getters.user
		},

		courses() {
			return this.$store.getters.courses
		},

		exams() {
			return this.$store.getters.allExams
		}
	}
};

</script>



<style scoped>
	
#page-header {
	margin-top: 2vh;
}

</style>