<template>
	
<div>
	
	<ExamDetailsStatusUpdate></ExamDetailsStatusUpdate>

	<ExamDetailsForm></ExamDetailsForm>
	
</div>

</template>


<script>
	
import ExamDetailsForm from '../../components/exams/ExamDetailsForm'
import ExamDetailsStatusUpdate from '../../components/exams/ExamDetailsStatusUpdate'

export default {
	components: {
		ExamDetailsForm, ExamDetailsStatusUpdate
	}
};

</script>


<style>
	

</style>