<template>
	
<div>
	<div v-if="contentLoading">
		<div id="pdf-loading" class="ui segment">
		  <div class="ui active inverted dimmer">
		    <div class="ui text loader">Loading</div>
		  </div>
		  <p></p>
		</div>
	</div>

	<div v-else id="pdf-div">
		<object id="pdf-object" v-bind:data="filePath" type="application/pdf"></object>
	</div>

</div>

</template>


<script>
import axios from 'axios'

import pdf from 'vue-pdf'

export default {

	components: {
		pdf
	},

	data() {
		return {
			contentLoading: true,
		}
	},

	mounted() {
		this.getExamPDF()
	},

	methods: {
		getExamPDF() {
			let url = "http://localhost:8084/v1/examination/" + this.exam.id + "/print"

			axios.post(url)
			.then(response => {
				if (response.status == 200) {
					setTimeout(() => {
						this.contentLoading = false
					}, 3000)

				}
			})
			.catch(error => {
				console.log("Exam print error=" + JSON.stringify(error))
			})
		}
	},

	computed: {
		user() {
			return this.$store.getters.user
		},

		exam() {
			return this.$store.getters.exam
		},

		filePath() {
			if (this.user.userType == 'EXAM_CENTRE_STAFF') {
				return '../../../static/exam-' + this.exam.id + ".pdf"
			}
			return '../../../static/exam-' + this.exam.id + ".pdf#toolbar=0&navpanes=0&scrollbar=0"
		}
	}
};

</script>


<style scoped>

#pdf-loading {
	height: 80vh;
}

#pdf-object {
	height: 100%;
	width: 100%;
}

#pdf-div {
	margin-left: auto;
	margin-right: auto;
	width: 60vw;
	height: 80vh;
}


</style>