<template>
	
<div>
	
	<div class="ui two row grid">
		<div class="row">
			<div class="sixteen wide column">
				<div class="ui dividing header">
					<h5>Photocopy Details</h5>
				</div>
				
				<GenerationDetailsForm></GenerationDetailsForm>
			</div>
		</div>
		<div class="row">
			<div class="sixteen wide column">
				<div class="ui dividing header">
					<h5>Collection Details</h5>
				</div>
				<CollectionDetailsForm></CollectionDetailsForm>
			</div>
		</div>
	</div>

</div>

</template>


<script>

import GenerationDetailsForm from '../../components/exam-centre/GenerationDetailsForm'

import CollectionDetailsForm from '../../components/exams/CollectionDetailsForm'

export default {

	components: {
		GenerationDetailsForm, CollectionDetailsForm
	},

	computed: {
		exam() {
			return this.$store.getters.exam
		}
	}

};

</script>


<style>
	

</style>