<template>
	
<div>
	<div v-if="exam" class="ui grid">
		<div class="three column row">
			<div class="column center aligned">
				<div class="ui checkbox">
			      <input type="checkbox" tabindex="0" class="hidden">
			      <!-- <label>Use default template</label> -->
			    </div>
			</div>

			<div class="column center aligned">
				<div class="ui large label">
					Total Marks
					<div class="detail">
						{{ totalMarks }}
					</div>
				</div>
			</div>

			<div class="column center aligned">
				<div class="two column grid">
					<div class="column">
						<span v-if="user.userType != 'EXT_EXAMINER'">
							
							<button @click="sendForModeration" v-if="(user.userType == 'LECTURER') && !isProcessing && !moderationOver" class="ui primary button">
								Send for Moderation
							</button>

							<button v-if="(user.userType == 'LECTURER') && isProcessing" class="ui primary loading button">Send for moderation</button>

							<div v-if="feedbackPositive || feedbackNegative">
								<div v-if="feedbackPositive" class="ui positive message">
									<div class="content">
										{{ feedbackMessage }}
									</div>
								</div>
								<div v-if="feedbackNegative" class="ui negative message">
									<div class="content">
										{{ feedbackMessage }}
									</div>
								</div>
							</div>

						</span>


						<span v-else>
							<span v-if="isProcessing">
								<button class="ui primary loading button">Moderate exam</button>
							</span>
							<span v-else>
								<button @click="setExamModeration" v-if="moderationStatus || moderationStatus == false" class="ui primary button">Moderate exam</button>
								<button v-if="moderationStatus == null" class="ui disabled primary button"> Moderate exam</button>
							</span>
							<div v-if="feedbackPositive || feedbackNegative">
								<div v-if="feedbackPositive" class="ui positive message">
									<div class="content">
										{{ feedbackMessage }}
									</div>
								</div>
								<div v-if="feedbackNegative" class="ui negative message">
									<div class="content">
										{{ feedbackMessage }}
									</div>
								</div>
							</div>
						</span>
					</div>

					<div class="column"></div>
				</div>
			</div>
		</div>

		<div class="ui centered row">
			<div class="thirteen wide column">
				<!-- <div v-if="contentLoading" id="pdf-loading" class="ui segment">
				  <div class="ui active inverted dimmer">
				    <div class="ui text loader">Loading</div>
				  </div>
				  <p></p>
				</div> -->

				<!-- Display exam items if any -->
				<div v-if="examItems.length > 0">

					<div v-for="item in examItems">
					
						<InstructionItem 
							v-if="item.docType == 'instruction'"
							v-bind:instruction="item"
							v-bind:key="item.id"
							v-bind:class="addUIGridClass"
							class="exam-item">
						</InstructionItem>

						<SubQuestionItem
							v-if="item.type == 'SUB_QUESTION'"
							v-bind:subQuestion="item"
							v-bind:key="item.id"
							v-on:update-total-marks="updateTotalMarks"
							v-bind:class="addUIGridClass"
							class="exam-item"></SubQuestionItem>

						<MainQuestionItem
							v-if="item.type == 'MAIN_QUESTION'"
							v-bind:mainQuestion="item"
							v-bind:key="item.id"
							v-on:update-total-marks="updateTotalMarks"
							class="exam-item">
						</MainQuestionItem>

						<SectionItem
							v-if="item.docType == 'section'"
							v-bind:section="item"
							v-bind:key="item.id"
							v-on:update-total-marks="updateTotalMarks"
							class="exam-item">	
						</SectionItem>

					</div>

				</div><!-- if exam items -->
				

				<select v-if="(user.userType != 'EXT_EXAMINER') && !moderationOver" v-on:change="showForm" class="ui dropdown">
					<option value="">Add Item</option>
				  	
				  	<option 
				  		value="instruction">Instruction</option>

				  	<option
				  		value="section">Section</option>
				  	
				 	<!-- <option 
				 		value="sub-question">Sub Question</option> -->

				</select>

				<div v-if="formType">
					<InstructionForm 
						v-if="formType == 'instruction'"
						v-bind:nextDisplayIndex="nextDisplayIndex"
						v-bind:instructionType="instructionType"></InstructionForm>

					<SectionForm 
						v-if="formType == 'section'"
						v-bind:displayIndex="nextDisplayIndex"></SectionForm>

					<SubQuestionForm 
						v-if="formType == 'sub-question'"
						v-bind:displayIndex="nextDisplayIndex"></SubQuestionForm>
				</div>
					
			</div>
		</div>
	</div>
</div>

</template>


<script>
import axios from 'axios'

import InstructionItem from '../../components/instructions/InstructionItem'
import SectionItem from '../../components/sections/SectionItem'
import MainQuestionItem from '../../components/questions/MainQuestionItem'
import SubQuestionItem from '../../components/questions/SubQuestionItem'

import InstructionForm from '../../components/instructions/InstructionForm'
import SectionForm from '../../components/sections/SectionForm'
import SubQuestionForm from '../../components/questions/SubQuestionForm'

export default {

	components: {
		SectionItem, InstructionItem, MainQuestionItem, SubQuestionItem,
		InstructionForm, SectionForm, SubQuestionForm
	},

	data() {
		return {
			useDefault: false,
			exam: null,
			contentLoading: true,
			totalMarks: 0,
			context: "examContent",
			formType: null,
			instructionType: "EXAM_LEVEL",
			isProcessing: false,
			feedbackPositive: false,
			feedbackNegative: false,
			feedbackMessage: ''
		}
	},

	methods: {
		sendForModeration() {
			this.isProcessing = true

			let url = "http://localhost:8084/v1/examination/" + this.exam.id + "/sendForModeration"

			axios.post(url)
			.then(response => {
				this.isProcessing = false
				if (response.status == 200) {
					this.feedbackPositive = true
					this.feedbackMessage = "External examiner notified"
				}

			})
			.catch(error => {
				console.log("send for moderation error=" + JSON.stringify(error))
				this.feedbackNegative = true
				this.feedbackMessage = "Error during notification"
			})

		},

		getQuestionNumber(questionIndex, numberingFormat) {
			//return question number based on index and format specified
			if (numberingFormat == 'NUMERICAL') {
				return questionIndex + 1
			}

			if (numberingFormat == 'ALPHABETICAL') {
				let letters = "abcdefghijklmnopqrstuvwxyz"
				return letters.charAt(questionIndex).toUpperCase()
			}

			if (numberingFormat == 'ROMAN_NUMERALS') {
				let romanNumerals = [
					'i', 'ii', 'iii', 'iv', 'v', 'vi', 'vii', 'viii', 'ix', 'x'
				]
				return romanNumerals[questionIndex]
			}
		},

		updateTotalMarks(marks) {
			this.totalMarks += parseInt(marks)
		},

		showForm(event) {
			this.formType = event.target.value
		},

		checkDeletedExamItems(item) {
			let deletedExamItems = this.deletedExamItems
			for (var i = 0; i <= deletedExamItems.length - 1; i ++) {
				if (deletedExamItems[i].id == item.id) {
					return true
				}
			}
			return false
		},

		setExamModeration() {
			this.isProcessing = true

			let url = "http://localhost:8084/v1/examination/" + this.exam.id + "/moderation"

			axios.get(url, {
				params: {
					status: this.moderationStatus
				}
			})
			.then(response => {
				this.isProcessing = false
				if (response.status == 200) {
					this.feedbackPositive = true
					this.feedbackMessage = "Exam moderated sucessfully"
				}
			})
			.catch(error => {
				this.feedbackNegative = true
				this.feedbackMessage = "Something went wrong. Please try again"
			})

		},

		itemModerated(item) {
			if (item.moderationDetails.lastUpdate 
					== item.moderationDetails.createDate) {
				return false
			}
			return true
		}
	},

	mounted: function () {
		$('.ui.dropdown').dropdown();

		this.$store.dispatch('initExamContent')
		this.exam = this.$store.getters.exam

		if (this.exam) {
			this.$store.dispatch('getExamContent', this.exam.id)

			$('.ui.checkbox').checkbox({
				onChecked: () => {
					this.useDefault = !this.useDefault
				},
				onUnchecked: () => {
					this.useDefault = !this.useDefault
				}
			});
		}
		
	},

	updated() {
		$('.ui.dropdown').dropdown();
	},

	beforeDestroy() {
		this.totalMarks = 0
	},

	computed: {

		moderationStatus() {
			let status = true

			let examItems = this.examItems

			for (var i = 0; i <= examItems.length - 1; i ++) {
				let examItem = examItems[i]

				if ('nestedItems' in examItem) {

					let parentItems = examItem.nestedItems
					for (var j = 0; j <= parentItems.length - 1; j ++) {
						let childItem = parentItems[j]

						if ('nestedItems' in childItem) {
							let items = childItem.nestedItems

							for (var k = 0; k <= items.length - 1; k ++) {
								let x = items[k]
								if (!this.itemModerated(x)) {
									status = null
									break
								} else {
									if (!x.moderationDetails.status) {
										status = false
										// break
									}
								}
							}

							if (status == null) {
								break
							}

						} else {
							if (!this.itemModerated(childItem)) {
								status = null
								break
							} else {
								if (!childItem.moderationDetails.status) {
									status = false
									// break
								}
							}
						}
					}

					if (status == null) {
						break
					}

				} else {
					if (!this.itemModerated(examItem)) {
						status = null
						break
					} else {
						if (!item.moderationDetails.status) {
							status = false
							// break
						}
					}
				}
			}

			return status
		},


		addUIGridClass() {
			if (this.examModerated || this.user.userType == 'EXT_EXAMINER') {
				return 'ui grid'
			}
			return ''
		},

		examModerated() {
			let exam = this.$store.getters.exam
			if (exam.moderationDetails.lastUpdate 
					== exam.moderationDetails.createDate) {
				return false
			}
			return true
		},

		moderationOver() {
			let exam = this.$store.getters.exam
			if (exam.moderationDetails.lastUpdate 
					!= exam.moderationDetails.createDate) {
				if (exam.moderationDetails.status) {
					return true
				}
			}
			return false
		},

		user() {
			return this.$store.getters.user
		},

		nextDisplayIndex() {
			let length = this.examItems.length
			if (length >= 1) {
				let lastItem = this.examItems[length - 1]

				let displayIndex = null
				if (lastItem.docType == 'section') {
					let sectionDispIndex = lastItem.displayIndex
					displayIndex = sectionDispIndex + lastItem.nestedItems.length + 1
				} else {
					displayIndex = lastItem.displayIndex + 1
				}
				return displayIndex
			} else {
				return 0	
			}
		},

		deletedExamItems() {
			return this.$store.getters.deletedExamItems
		},

		examContent() {
			return this.$store.getters.examContent
		},

		examItems() {
			// alert("examItems processed!")
			let examItems = []

			let section = null
			let mainQuestion = null
			let examContent = this.examContent

			let qstnNumIndex = 0
			let subQstnNumIndex = 0

			let priNumFormat = this.exam.primaryNumberingFormat
			let secNumFormat = this.exam.secondaryNumberingFormat

			if (examContent != null && examContent.length > 0) {
				this.contentLoading = false
				for (var i = 0; i <= examContent.length - 1; i ++) {
					let item = examContent[i]
					let docType = examContent[i]['docType']

					if (this.deletedExamItems.length > 0) {
						if (this.checkDeletedExamItems(item)) {							
							// append last item to examItems
							if (i == examContent.length - 1) {
								if (mainQuestion != null) {
									section.nestedItems.push(mainQuestion)
									examItems.push(section)
								} else {
									if (section != null) {
										examItems.push(section)
									}
								}
							}

							continue
						}
					}

					if (section == null) {
						// new section
						if (item.docType == 'section') {
							section = item
							section.nestedItems = []
						} else {
							//any item outside section
							if (item.docType == 'question'
									&& item.type == 'SUB_QUESTION') {
								item.questionNumber = this.getQuestionNumber(
									qstnNumIndex, priNumFormat
								)

								qstnNumIndex += 1
								examItems.push(item)
							}

							if (item.docType == 'instruction'
									&& item.type == 'EXAM_LEVEL') {
								examItems.push(item)
							}
						}

					} else {
						//section contains something
						if (mainQuestion == null) {
							if (item.docType == 'question'
									&& item.type == 'MAIN_QUESTION') {
								item.questionNumber = this.getQuestionNumber(
									qstnNumIndex, priNumFormat
								)
								qstnNumIndex += 1

								subQstnNumIndex = 0

								mainQuestion = item
								mainQuestion.nestedItems = []
							}  else if (item.docType == 'instruction' && item.type == 'SECTION_LEVEL') {
								section.nestedItems.push(item)
							} else if (item.docType == 'question' && item.type == 'SUB_QUESTION') {
								item.questionNumber = this.getQuestionNumber(
									qstnNumIndex, priNumFormat
								)
								qstnNumIndex += 1
								section.nestedItems.push(item)
							} else {
								//item falls outside section
								examItems.push(section)

								if (item.docType == 'section') {
									section = item 
									section.nestedItems = []
								} else {
									section = null
									examItems.push(item)
								}
							}

						} else {
							//main question has something
							if (item.docType == 'question'
									&& item.type == 'SUB_QUESTION') {

								item.questionNumber = this.getQuestionNumber(
									subQstnNumIndex, secNumFormat
								)
								subQstnNumIndex += 1

								mainQuestion.nestedItems.push(item)
							} else if (item.docType == 'instruction' && item.type == 'QUESTION_LEVEL') {
								mainQuestion.nestedItems.push(item)
							} else if (item.docType == 'question' && item.type == 'MAIN_QUESTION') {
								section.nestedItems.push(mainQuestion)

								item.questionNumber = this.getQuestionNumber(
									qstnNumIndex, priNumFormat
								)
								qstnNumIndex += 1
								subQstnNumIndex = 0

								mainQuestion = item
								mainQuestion.nestedItems = []
							} else if (item.docType == 'instruction' && item.type == 'SECTION_LEVEL') {
								section.nestedItems.push(mainQuestion)
								mainQuestion = null
								section.nestedItems.push(item)
							} else {
								//item falls outside section
								section.nestedItems.push(mainQuestion)
								examItems.push(section)
								mainQuestion = null

								if (item.docType == 'section') {
									section = item 
									section.nestedItems = []
								} else {
									section = null
									examItems.push(item)
								}
							}
						}
					}

					// append last item to examItems
					if (i == examContent.length - 1) {
						if (mainQuestion != null) {
							section.nestedItems.push(mainQuestion)
							examItems.push(section)
						} else {
							if (section != null) {
								examItems.push(section)
							}
						}
					}

				}
			}
			// console.log("examItems=" + JSON.stringify(examItems))
			return examItems
		}
	}

};

</script>


<style scoped>

.exam-item {
	margin-bottom: 3vh;
}

/*#pdf-loading {
	height: 70vh;
}*/

</style>