<template>

<div>

	<CollectionDetailsForm></CollectionDetailsForm>
	
</div>	

</template>


<script>

import CollectionDetailsForm from '../../components/exams/CollectionDetailsForm'

export default {

	components: {
		CollectionDetailsForm
	}

};

</script>


<style>


</style>