<template>
	
<div>
	<div v-if="user.userType == 'LECTURER'">
		<div v-if="readyForCollection" class="ui fluid four item  menu main-exam-menu">
			<router-link v-bind:class="{active : detailsActive}" class="item" to="/exams/new/details">Exam Details</router-link>
			<router-link v-bind:class="{active : contentActive}" class="item" to="/exams/new/content">Exam Content</router-link>
			<router-link v-bind:class="{active : previewActive}" class="item" to="/exams/new/preview">Exam Preview</router-link>
			<router-link v-bind:class="{active : collectionActive}" class="item" to="/exams/new/collection">Exam Collection</router-link>
		</div>
		<div v-else>
			<div class="ui fluid three item menu main-exam-menu">
				<router-link v-bind:class="{active : detailsActive}" class="item" to="/exams/new/details">Exam Details</router-link>
				<router-link v-bind:class="{active : contentActive}" class="item" to="/exams/new/content">Exam Content</router-link>
				<router-link v-bind:class="{active : previewActive}" class="item" to="/exams/new/preview">Exam Preview</router-link>
			</div>
		</div>
	</div>

	<div v-if="user.userType == 'EXT_EXAMINER'" style="margin-bottom: 3vh !important;">
		<div class="ui dividing header" style="margin-top: 2vh;">
			Exam Content
		</div>
	</div>

	<div v-if="user.userType == 'SYS_ADMIN'">
		<div class="ui fluid three item menu main-exam-menu">
			<router-link v-bind:class="{active : detailsActive}" class="item" to="/exams/new/details">Exam Details</router-link>
			<router-link v-bind:class="{active : contentActive}" class="item" to="/exams/new/content">Exam Content</router-link>
			<router-link v-bind:class="{active : previewActive}" class="item" to="/exams/new/preview">Exam Preview</router-link>
			<!-- <router-link v-bind:class="{active : generationActive}" class="item" to="/exams/new/generation">Exam Generation</router-link> -->
		</div>
		
	</div>

	<router-view></router-view>
</div>

</template>


<script>

export default {

	data() {
		return {
			activeTabUrl: null
		}
	},

	mounted() {
		this.activeTabUrl = window.location.pathname
	},

	updated() {
		this.activeTabUrl = window.location.pathname
	},

	computed: {
		exam() {
			return this.$store.getters.exam
		},

		user() {
			return this.$store.getters.user
		},

		detailsActive() {
			if (this.activeTabUrl == '/exams/new/details'
					|| this.activeTabUrl == '/exams/new') {
				return true
			}
			return false
		},

		contentActive() {
			if (this.activeTabUrl == '/exams/new/content') {
				return true
			}
			return false
		},

		previewActive() {
			if (this.activeTabUrl == '' || this.activeTabUrl == '/exams/new/preview') {
				return true
			}
			return false
		},

		collectionActive() {
			if (this.activeTabUrl == '/exams/new/collection') {
				return true
			}
			return false
		},

		generationActive() {
			if (this.activeTabUrl == '/exams/new/generation') {
				return true
			}
			return false
		},

		readyForCollection() {
			if (this.exam == null) {
				return false
			}

			if (this.exam.generationDetails != null) {
				return true
			}
			return false
		}
	}
};

</script>


<style scoped>
	
.main-exam-menu {
	margin-bottom: 3vh !important;
}

</style>