<template>

<div>
	<div class="ui vertical fluid menu">
		
		<router-link class="item" to="/chairperson/setting">
			<i class="edit icon menu-icon"></i>
			Exam Setting
		</router-link>

		<router-link  class="item" to="/chairperson/moderation">
			<i class="check circle outline icon menu-icon"></i>
			Exam Moderation
		</router-link>

		<router-link  class="item" to="/chairperson/generation">
			<i class="print icon menu-icon"></i>
			Exam Generation
		</router-link>

		<router-link  class="item" to="/chairperson/collection">
			<i class="list icon menu-icon"></i>
			Exam Collection
		</router-link>
	</div>
</div>	

</template>


<script>
	
export default {

	data() {
		return {
			activeTabUrl: null
		}
	},

	methods: {
		handleUrl(url) {
			console.log("handleUrl recieved=" + url)
			this.$router.push({name: url})
		}
	},

	mounted() {
		this.activeTabUrl = window.location.pathname
		console.log("activeTabUrl=" + this.activeTabUrl)
	},

	updated() {
		this.activeTabUrl = window.location.pathname
		console.log("UPDATED activeTabUrl=" + this.activeTabUrl)
	},

	computed: {
		settingActive() {
			if (this.activeTabUrl == '/chairperson/setting') {
				return true
			}
			return false
		},

		moderationActive() {
			if (this.activeTabUrl == '/chairperson/moderation') {
				return true
			}
			return false
		},

		generationActive() {
			if (this.activeTabUrl == '/chairperson/generation') {
				return true
			}
			return false
		},

		collectionActive() {
			if (this.activeTabUrl == '/chairperson/collection') {
				return true
			}
			return false
		}
	}

};

</script>


<style scoped>

.menu-icon {
	float: left !important;
	margin-right: 4vw !important;
}

</style>