<template>
	
<div>
	<div class="ui grid">
		<div class="one column row">
			<div class="center aligned column">
				<p>Are you sure you want to delete this item?</p>
			</div>
		</div>
		<div class="four column row">
			<div class="column"></div>
			<div class="column">
				<button @click="cancelDelete" class="ui fluid red button" type="submit">No</button>
			</div>
			<div class="column">
				<button v-if="!isProcessing" @click="deleteItem" class="ui fluid green button" type="submit">Yes</button>
				<button v-else class="ui fluid green loading button">Yes</button>
			</div>
			<div class="column"></div>
		</div>
	</div>
</div>

</template>


<script>

import axios from 'axios'

export default {

	props: ['item'],

	data() {
		return {
			isProcessing: false
		}
	},

	methods: {
		cancelDelete() {
			$('#delete-modal-' + this.item.id)
				.modal('hide all')
		},

		deleteItem() {
			this.isProcessing = true

			let url = "";

			if (this.item.docType == 'instruction') {
				url = "http://localhost:8084/v1/instruction/" + this.item.id
			}
			if (this.item.docType == 'question') {
				url = "http://localhost:8084/v1/question/" + this.item.id
			}

			axios.delete(url)
				.then(response => {
					this.isProcessing = false

					if (response.status == 200) {
						$('#delete-modal-' + this.item.id)
							.modal('hide all')

						this.$store.dispatch('setDeletedExamItems', this.item)

						// setTimeout(() => {
						// 	this.$store.dispatch('getExamContent', this.exam.id)
						// }, 2000)
					}
				})
				.catch(error => {
					console.log("Error=" + JSON.stringify(error))
				})
		}
	}

};

</script>


<style>


</style>