<template>
	
	<div>
		<div v-if="status == 'positive'" class="ui green message feedback-banner">
			<p class="feedback-msg">{{ message }}</p>
		</div>

		<div v-if="status == 'negative'" class="ui negative message">
		  	<i class="close icon"></i>
		  	<p class="feedback-msg">{{ message }}</p>
		</div>

	</div>

</template>


<script>

export default {
	props: ['status', 'message'],

	mounted: function () {
		$('.message .close').on('click', function() {
	    	$(this)
	      		.closest('.message')
	      		.transition('fade');
	  	});
	},

	updated: function () {
		$('.feedback-banner').delay(3000).fadeOut();	
	}

};

</script>


<style scoped>

.feedback-msg {
	display: inline !important;
}

</style>