<template>

	<div id="footer-grid" class="ui three column grid">
		<div class="column">
			<!-- <div class="footer-links-div">
				<ul class="footer-links-list">
					<li><a href="" class="footer-link">HOME</a></li>
					<li><a href="" class="footer-link">PAYMENTS</a></li>
					<li><a href="" class="footer-link">MESSAGING</a></li>
				</ul>
			</div> -->
		</div>

		<div class="column">
			<<!-- div class="footer-links-div">
				<ul class="footer-links-list">
					<li><a href="" class="footer-link">RESIDENTS</a></li>
					<li><a href="" class="footer-link">SERVICES</a></li>
					<li><a href="" class="footer-link">EXPENDITURE</a></li>
				</ul>
			</div> -->
		</div>

		<div class="column">
			<div class="footer-links-div">
				<!-- <ul class="footer-links-list">
					<li><a href="" class="footer-link">Privacy Policy</a></li>
					<li><a href="" class="footer-link">Terms and Agreement</a></li>
				</ul> -->
			
				<p style="color: white;">
					&copy; SCI Exam Management System {{ new Date().getFullYear() }}
				</p>
			</div>
		</div>
	</div>

</template>

<script>
	

</script>

<style scoped>

#footer-grid {
	border-top: 1px solid black;
	background-color: black;
}

.footer-links-div {
	text-align: center;
}

.footer-links-list {
	list-style-type: none;
}

.footer-link {
	text-decoration: none !important;
	color: white;
}

li {
	margin-bottom: 2vh;
}

</style>