<template>
	
<div>
	
	<!-- <div class="ui raised segment"> -->
		<form @submit.prevent="handleSubmit" class="ui form">
			<div class="field form-field">
				<label>Email</label>
				<input v-model="email" type="text" required placeholder="Enter email" />
			</div>
			<div class="field form-field">
				<label>Password</label>
				<input v-model="password" type="password" required placeholder="Enter password" />
			</div>
			<div class="ui one column grid ">
				<div class="column">
					<button v-if="isProcessing" type="submit" class="ui fluid primary loading button">Login</button>
					<button v-else type="submit" class="ui fluid primary button">Login</button>
				</div>
			</div>
			<div id="feedback-div" v-if="feedbackNegative || feedbackPositive">
				<div v-if="feedbackNegative" class="ui negative message">
					<div class="content">
						{{ feedbackMessage }}
					</div>
				</div>

				<div v-if="feedbackPositive" class="ui positive message">
					<div class="content">
						{{ feedbackMessage }}
					</div>
				</div>
			</div>
		</form>
	<!-- </div> -->
	
</div>

</template>


<script>

import axios from 'axios'

export default {

	data() {
		return {
			email: '',
			password: '',
			isProcessing: false,
			feedbackNegative: false,
			feedbackPositive: false,
			feedbackMessage: ""
		}
	},

	methods: {
		handleSubmit() {
			this.isProcessing = true
			this.feedbackPositive = false
			this.feedbackNegative = false

			let url = "http://localhost:8084/v1/user/login"

			axios.get(url, {
				params: {
					email: this.email,
					password: this.password
				}
			})
			.then(response => {
				this.isProcessing = false
				
				if (response.status == 200) {
					this.feedbackPositive = true
					this.feedbackMessage = "Login successful"
					this.$store.dispatch('setAuthenticatedUser', response.data.data.userSession)
					this.$router.push('/verification')
				}
			})
			.catch(error => {
				this.isProcessing = false				
				this.feedbackNegative = true
				this.feedbackMessage = "Invalid email or password. Try again"
			})

		}
	}

};

</script>


<style scoped>

.form-field {
	margin-bottom: 4vh !important;
}

#feedback-div {
	margin-top: 3vh !important;
}

</style>