<template>
	
<div>
	<div class="ui top attached secondary huge menu main-navbar">
		<router-link @click.prevent="reloadHomePage" to="/" class="header item">
			SCI Exam Management System
		</router-link>
	</div>
</div>

</template>


<script>

export default {
	methods: {
		reloadHomePage() {
			this.$router.push({name: 'home'})
		}
	}
};

</script>


<style>


</style>