<template>
	
<div>
	
	<!-- <div class="ui raised segment"> -->
		<form @submit.prevent="handleSubmit" class="ui form">
			<div class="field form-field">
				<label>Enter code sent to your email</label>
				<input v-model="code" type="text" required />
			</div>
			<button v-if="isProcessing" type="submit" class="ui fluid primary loading button">Login</button>
			<button v-else type="submit" class="ui fluid primary button">Verify</button>
		</form>
		
		<div id="feedback-div-verification" v-if="feedbackNegative || feedbackPositive">
			<div v-if="feedbackNegative" class="ui negative message">
				<div class="content">
					{{ feedbackMessage }}
				</div>
			</div>

			<div v-if="feedbackPositive" class="ui positive message">
				<div class="content">
					{{ feedbackMessage }}
				</div>
			</div>
		</div>

		<div id="resend-code-grid" class="ui three right aligned column grid">
				<div class="right floated column">
					<p>
						<span v-if="resending">Sending code ...</span>
						<a v-else @click.prevent="resendCode" href="">Resend code</a>
					</p>
				</div>
		</div>
	<!-- </div> -->

	

</div>

</template>


<script>

import axios from 'axios'

export default {

	data() {
		return {
			code: null,
			isProcessing: false,
			feedbackNegative: false,
			feedbackPositive: false,
			feedbackMessage: "",
			resending: false
		}
	},

	methods: {
		handleSubmit() {
			this.isProcessing = true
			this.feedbackPositive = false
			this.feedbackNegative = false

			let url = "http://localhost:8084/v1/user/" + this.user.userType + "/" + this.user.id + "/two-fa"

			axios.get(url, {
				params: {
					code: this.code
				}
			})
			.then(response => {
				this.isProcessing = false

				if (response.status == 200) {
					this.feedbackPositive = true
					this.feedbackMessage = "Verfification successful"

					if (this.user.userType == 'EXAM_CENTRE_STAFF') {
						this.$router.push('/exam-centre/home/pending')
					} else if (this.user.userType == 'CHAIRPERSON') {
						this.$router.push('/chairperson/setting')
					} 
					else {
						this.$router.push('/exams/dashboard')
					}

				}

			})
			.catch(error => {
				console.log(JSON.stringify(error))
				this.isProcessing = false
				let message = error.response.data.metadata.message
				console.log("message=" + message)

				if (message == 'INVALID_CODE') {
					this.feedbackNegative = true
					this.feedbackMessage = "Invalid code. Please try again"
				}
				else if (message = 'EXPIRED_CODE') {
					this.feedbackNegative = true
					this.feedbackMessage = "Code expired. Please click link below to resend code"
				} else {
					this.feedbackNegative = true
					this.feedbackMessage = "Something went wrong. Please try again"
				}
			})

		},

		resendCode() {
			this.resending = true

			let url = "http://localhost:8084/v1/user/" + this.user.userType + "/" + this.user.id + "/two-fa/refresh"

			axios.post(url)
			.then(response => {
				this.resending = false

				if (response.status == 200) {
					this.feedbackPositive = true
					this.feedbackMessage = "Code resent to your email"
				}
			})
			.catch(error => {
				this.resending = false

				this.feedbackNegative = true
				this.feedbackMessage = "Failed to resend code. Please try again."
			})

		}
	},

	computed: {
		user() {
			return this.$store.getters.user
		}
	}

};

</script>


<style scoped>


#resend-code-grid {
	margin-top: 3vh !important;
}

.form-field {
	margin-bottom: 3vh !important;
}

#feedback-div-verification {
	margin-top: 3vh !important;
}

</style>