<template>

<div class="item-moderation-div">

	<div v-if="editMode">
		<div class="ui center aligned row grid">
			<div v-if="isProcessing" class="fifteen wide column top-icon-col">
				<div class="ui active small inline loader"></div>
			</div>

			<div v-if="!isProcessing" class="fifteen wide column top-icon-col">
				<i @click="setItemModeration(true)" class="check circle outline big green icon"></i>
			</div>
			<div v-if="!isProcessing" class="fifteen wide column or-clause">
				<p class="faded-text">OR</p>
			</div>
			<div v-if="!isProcessing" class="fifteen wide column bottom-icon-col">
				<i @click="setItemModeration(false)" class="times circle outline big red icon"></i>
			</div>

		</div>
	</div>
	<div v-else>
		<div v-if="itemModerated">
			<div class="ui center aligned row grid">
				<div class="fifteen wide column top-icon-col">
					<i v-if="itemModerationStatus" class="check circle outline big green icon"></i>
					<i v-if="!itemModerationStatus" class="times circle outline big red icon"></i>
				</div>
				<div v-if="user.userType == 'EXT_EXAMINER'" class="fifteen wide column edit-col">
					<a @click.prevent="editModeration" href="" class="faded-text underline-on-hover">Edit</a>
				</div>
			</div>
		</div>
		<div v-else>
			<div class="ui center aligned row grid">
				<div class="fifteen wide column top-icon-col">
					<i v-if="itemModerationStatus" class="check circle outline big green icon"></i>
					<i v-if="!itemModerationStatus" class="times circle outline big red icon"></i>
				</div>
				<div v-if="user.userType == 'EXT_EXAMINER'" class="fifteen wide column edit-col">
					<a @click.prevent="editModeration" href="" class="faded-text underline-on-hover">Edit</a>
				</div>
			</div>
		</div>
	</div>
	
</div>	

</template>


<script>

import axios from 'axios'

export default {

	props: ['item'],

	data() {
		return {
			isProcessing: false,
			editMode: false
		}
	},

	mounted() {

	},

	methods: {
		editModeration() {
			this.editMode = true
		},


		setItemModeration(status) {
			// alert("executing setItemModeration() status=" + status)
			this.isProcessing = true

			let url = "http://localhost:8084/v1/"

			if (this.item.docType == 'instruction') {
				url += "instruction/" + this.item.id + "/moderation"
			}
			if (this.item.docType == 'question' && this.item.type == 'SUB_QUESTION') {
				url += "question/" + this.item.id + "/moderation"
			}


			axios.get(url, {
				params: {
					status: status
				}
			})
				.then(response => {
					this.editMode = false
					this.isProcessing = false
					// alert("response from set item moderation")
					
					if (response.status == 200) {
						let details = response.data.data.itemModeration
						this.$store.dispatch('updateModerationStatusOfItem', details)
					}
				})

				.catch(error => {
					console.log("itemModerationError=" + JSON.stringify(error))
				})
		}
	},

	computed: {
		user() {
			return this.$store.getters.user
		},

		itemModerated() {
			if (this.item.moderationDetails.lastUpdate 
					== this.item.moderationDetails.createDate) {
				this.editMode = true
				return false
			}
			return true
		},

		itemModerationStatus() {
			return this.item.moderationDetails.status
		}
	}

};

</script>


<style scoped>

.top-icon-col {
	margin-top: 1vh !important;
	padding-bottom: 1vh !important;
}

.bottom-icon-col {
	padding-top: 1vh !important;
}

.or-clause {
	padding-top: 0vh !important;
	padding-bottom: 0vh !important;
	margin-top: 0vh !important;
	margin-bottom: 0vh !important;
}

.or-clause p {
	font-size: 80%;
}

.edit-col {
	margin-top: 0vh !important;
	padding-top: 0vh !important;
}

</style>