<template>
	
<div>
	<div class="ui top attached secondary large menu">
		<div id="navbar-heading" class="header item">
			SCI Exam Management System
		</div>

		<a @click.prevent="handleDashboardClick" class="ui item">
			Dashboard
		</a>

		<div class="right menu">
			<div class="ui dropdown icon item">
				<i class="bell icon"></i>

				TODO: Add structure to hold notifications
				<div class="menu">
					<div class="item">
						No new notifications
					</div>
				</div>
			</div>

			<div class="ui dropdown item">
				<img class="ui avatar image" src="../assets/logo.png">
				<span v-if="user">{{ firstName }}</span>
				<i class="dropdown icon"></i>
				<div class="menu">
					<a @click.prevent="logout" class="item" href="">
						Logout
					</a>
				</div>
			</div>
		</div><!-- ./right menu -->

	</div><!-- ./navbar -->
</div>

</template>


<script>
import axios from 'axios'

export default {

	data() {
		return {
			
		}
	},

	methods: {

		handleDashboardClick() {
			this.$router.push('/exam-centre/home/pending')
		},
		

		logout() {
			let url = "http://localhost:8084/v1/user/logout"
			axios.post(url)
			.then(response => {
				this.$router.push({name: 'home'})
			})
			.catch(error => {
				console.log(JSON.stringify(error))
			})
		}
	},

	mounted() {
		$('.ui.dropdown').dropdown()
	},

	computed: {
		user() {
			return this.$store.getters.user
		},

		firstName(){
			let firstName = this.user.firstName.toLowerCase()
			return firstName.charAt(0).toUpperCase() + firstName.slice(1)
		}
	}

};

</script>


<style scoped>


#navbar-heading {
	margin-right: 1vw !important;
}

</style>