<template>
	<div class="ui top attached secondary large menu main-navbar">
		<router-link @click.prevent="reloadHomePage" v-bind:to="homeUrl" class="header item">
			SCI Exam Management System
		</router-link>

		<div class="right menu">
			<!-- <NotificationMenu
				v-if="user.userType != 'CHAIRPERSON'"></NotificationMenu> -->

			<div class="ui dropdown item">
				<img class="ui avatar image" src="../assets/logo.png">
				<span v-if="user">{{ firstName }}</span>
				<i class="dropdown icon"></i>
				<div class="menu">
					<a @click.prevent="logout" class="item" href="">
						Logout
					</a>
				</div>
			</div>
		</div><!-- ./right menu -->
	</div>
</template>

<script>
import axios from 'axios'
const querystring = require('querystring')

import NotificationMenu from './NotificationMenu'

export default {

	components: {
		NotificationMenu
	},

	data() {
		return {
			homeUrl: ''
		}
	},

	methods: {
		logout() {
			let url = "http://localhost:8084/v1/user/logout"
			axios.post(url)
			.then(response => {
				this.$router.push({name: 'home'})
			})
			.catch(error => {
				console.log(JSON.stringify(error))
			})
		}
	},

	mounted() {
		$('.ui.dropdown').dropdown()

		if (this.user.userType == 'LECTURER') {
			this.homeUrl = '/exams/dashboard'
		}
	},

	computed: {
		user() {
			return this.$store.getters.user
		},

		firstName(){
			let firstName = this.user.firstName.toLowerCase()
			return firstName.charAt(0).toUpperCase() + firstName.slice(1)
		}
	}
};

</script>

<style>
	
</style>
