<template>
	
<div>
	
</div>

</template>


<script>
	
export default {

	props: ['notification'],

	mounted() {
		console.log("Notification Item received: " + JSON.stringify(this.notification))
	}
};

</script>


<style>


</style>