<template>
	
<div class="ui dropdown icon item">

	<i class="bell icon"></i>

	<div class="left menu">
		<NotificationItem
			v-if="notifications.length > 0"
			v-for="notification in notifications"
			v-bind:key="notification.id"
			v-bind:notification="notification"
			class="item"></NotificationItem>

		<div v-else class="item">
			No new notifications
		</div>
		<!-- <div class="item">
			No new notifications
		</div> -->
	</div>
	
</div>

</template>

<script>
import axios from 'axios'

import NotificationItem from './NotificationItem'

export default {

	components: {
		NotificationItem
	},

	data() {
		return {
			notifications: []
		}
	},

	methods: {
		getNotificationsForUser() {
			let url = "http://localhost:8084/v1/user/notifications"

			axios.get(url)
			.then(response => {
				console.log("notification response=" + JSON.stringify(response))
			})
			.catch(error => {
				console.log("notification error=" + JSON.stringify(error))
			})

		}
	},

	mounted() {
		$('.ui.dropdown').dropdown()
		this.getNotificationsForUser()
	},

	updated() {
		$('.ui.dropdown').dropdown()
	},

	computed: {
		user() {
			return this.$store.getters.user
		}
	}
};

</script>


<style scoped>


</style>