<template>
	<div class="ui vertical fluid menu">
		
		<router-link 
			v-if="user.userType == 'LECTURER' || user.userType == 'EXT_EXAMINER' || user.userType == 'SYS_ADMIN'" 
			v-bind:class="{active : examinationsActive}"
			class="item" to="/exams/dashboard">
			<i class="file alternate icon menu-icon"></i>
			Examinations
		</router-link>

		<router-link v-if="user.userType == 'CHAIRPERSON'" class="item" to="/exams/chairperson">
			<i class="chart pie icon menu-icon"></i>
			Dashboard
		</router-link>

		<router-link 
			v-if="user.userType == 'EXAM_CENTRE_STAFF'" 
			v-bind:class="{active : examCentreDashboardActive}"
			class="item" 
			to="/exam-centre/home/pending">
			<i class="chart pie icon menu-icon"></i>
			Dashboard
		</router-link>

		<!-- <router-link v-if="user.userType == 'SYS_ADMIN'" class="item" to="">
			<i class="calendar alternate icon menu-icon"></i>
			Examination Schedule
		</router-link>

		<router-link v-if="user.userType == 'SYS_ADMIN'" class="item" to="">
			<i class="user icon menu-icon"></i>
			Users
		</router-link> -->



	</div>
</template>

<script>

export default {

	data() {
		return {
			activeTabUrl: null
		}
	},

	mounted() {
		this.activeTabUrl = window.location.pathname
	},

	updated() {
		this.activeTabUrl = window.location.pathname
	},

	computed: {
		user() {
			return this.$store.getters.user
		},

		examinationsActive() {
			if (this.activeTabUrl == '/exams/dashboard') {
				return true
			}
			return false
		},

		examCentreDashboardActive() {
			if (this.activeTabUrl == '/exam-centre/home/pending'
					|| this.activeTabUrl == '/exam-centre/home/completed') {
				return true
			}
			return false
		}
	}
};

</script>

<style scoped>

.menu-icon {
	float: left !important;
	margin-right: 4vw !important;
}

</style>