<template>
	
<div>

	<div class="ui two column grid">
		<div class="two wide column">
			<img class="ui mini circular image" src="../../assets/logo.png">
			<span class="faded-text">{{ comment.senderFirstName }}</span>
		</div>

		<div class="fourteen wide column">
			<div class="ui segment">
				<div class="ui grid">
					<div class="three column row create-date-row">
						<div class="right floated column">
							<span class="right aligned faded-text">{{ createDate }}</span>
						</div>
					</div>
					<div class="one column row comment-text-row">
						<div class="column">
							{{ comment.text }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

</template>


<script>

export default {

	props: ['comment'],

	methods: {
		formatDate(date) {
			var monthNames = [
			    "January", "February", "March",
			    "April", "May", "June", "July",
			    "August", "September", "October",
			    "November", "December"
			  ];

			  var day = date.getDate();
			  var monthIndex = date.getMonth();
			  var year = date.getFullYear();

			  return day + ' ' + monthNames[monthIndex] + ' ' + year;
		}
	},

	computed: {
		createDate() {
			let date = new Date(this.comment.lastUpdate)
			return this.formatDate(date)
		}
	}
};

</script>


<style scoped>

.comment-text-row {
	padding-top: 0vh !important;
}

.create-date-row {
	padding-bottom: 1vh !important;
	padding-top: 1vh !important;
}

</style>