<template>
	
<div>
	<form @submit.prevent="handleSubmit" class="ui form">
		<div class="field">
			<textarea
				v-model="text"
				rows="1"
				placeholder="Enter comment..."
				required></textarea>
		</div>

		<div class="two fields">
			<!-- Feedback field -->
			<div class="field">
				<div v-if="feedbackPositive || feedbackNegative">
					<div v-if="feedbackPositive" class="ui positive message">
						<i class="close icon"></i>
						<div class="content">
							{{ feedbackMessage }}
						</div>
					</div>

					<div v-if="feedbackNegative" class="ui negative message">
						<i class="close icon"></i>
						<div class="content">
							{{ feedbackMessage }}
						</div>
					</div>
				</div>
			</div>

			<!-- Submit field -->
			<div class="field">
				<button v-if="isProcessing" class="ui disabled fluid primary loading button">Submit</button>
				<div v-else>
					<button class="ui primary fluid button">Submit</button>
				</div>
			</div>
		</div>
	</form>
</div>

</template>


<script>

import axios from 'axios'

export default {

	props: ['itemType', 'itemId', 'recipientType', 'recipientId'],

	data() {
		return {
			text: null,
			isProcessing: false,
			feedbackPositive: false,
			feedbackNegative: false,
			feedbackMessage: ""
		}
	},

	mounted() {
		$('.message .close')
		  .on('click', function() {
		    $(this)
		      .closest('.message')
		      .transition('fade');
		});
	},

	methods: {
		handleSubmit() {
			this.isProcessing = true

			let comment = {
				text: this.text,
				senderType: this.user.userType,
				senderId: this.user.id,
				recipientType: this.recipientType,
				recipientId: this.recipientId,
				itemType: this.itemType,
				itemId: this.itemId,
				examId: this.exam.id
			}

			let url = "http://localhost:8084/v1/comment"
			axios.post(url, comment)
				.then(response => {
					if (response.status == 201) {
						this.isProcessing = false
						this.feedbackPositive = true
						this.feedbackMessage = "Created successfully"
						this.$emit('created-new-comment', response.data.data.comment)
					}
				})
				.catch(error => {
					console.log(JSON.stringify(error))
				})
		}
	},

	computed: {
		exam() {
			return this.$store.getters.exam
		},

		user() {
			return this.$store.getters.user
		}
	}

};

</script>


<style scoped>

</style>