<template>

<div>
	<div id="content-loader" v-if="contentLoading" class="ui segment">
		<div class="ui active inverted dimmer">
    		<div class="ui text loader">Loading</div>
 		</div>
  		<p></p>
	</div>

	<CommentItem
		v-for="comment in comments"
		v-bind:key="comment.id"
		v-bind:comment="comment"></CommentItem>

	<CommentForm id="comment-form"
		v-bind:itemType="itemType"
		v-bind:itemId="itemId"
		v-bind:recipientType="recipientType"
		v-bind:recipientId="recipientId"
		v-on:created-new-comment="newCommentCreated"></CommentForm>
</div>

</template>


<script>

import axios from 'axios'

import CommentItem from './CommentItem'

import CommentForm from './CommentForm'

export default {

	props: ['itemId', 'itemType'],

	components: {
		CommentItem, CommentForm
	},

	data() {
		return {
			comments: [],
			contentLoading: true
		}
	},

	mounted() {
		this.getComments()
	},

	methods: {
		getComments() {
			let url = "http://localhost:8084/v1/comment/item"

			axios.get(url, {
				params: {
					itemId: this.itemId,
					itemType: this.itemType
				}
			})
				.then(response => {
					this.contentLoading = false
					this.comments = response.data.data.comments.reverse()
				})
				.catch(error => {
					console.log("Error=" + JSON.stringify(error))
				})
		},

		newCommentCreated(comment) {
			this.comments.push(comment)
		}
	},

	computed: {
		recipientType() {
			let user = this.$store.getters.user
			if (user.userType == 'LECTURER') {
				return 'EXT_EXAMINER'
			}
			if (user.userType == 'EXT_EXAMINER') {
				return 'LECTURER'
			}
		},

		recipientId() {
			let user = this.$store.getters.user 
			if (user.userType == 'LECTURER') {
				return this.exam.moderationDetails.extExaminerId
			}
			if (user.userType == 'EXT_EXAMINER') {
				return this.exam.createdByLecturerId
			}
		},

		exam() {
			return this.$store.getters.exam
		}
	}

};

</script>


<style scoped>

#content-loader {
	min-height: 40vh;
}

#comment-form {
	margin-top: 3vh;
}

</style>