<template>
  <div id="app">
    <div class="ui fluid container">
      <router-view></router-view>
    </div>
  </div>
  
</template>

<script>

export default {
  name: 'App',

};



</script>

<style>

.main-navbar {
  background-color: rgba(0,0,0,.05) !important;
}

.faded-text {
	color: grey;
}

.underline-on-hover:hover {
	text-decoration: underline;
	color: grey;
}

.mod-status-col {
	padding-left: 0vw !important;
}

</style>
