<template>
	
<div>
	<Navbar></Navbar>
	<div id="content-home-grid" class="ui container">
		<div class="ui grid">
			<div class="two wide column"></div>
			<div class="twelve wide column" style="margin-top: 2vh;">
				<router-view></router-view>
			</div>
			<div class="two wide column"></div>
		</div>
	</div>
	<Footer></Footer>

</div>

</template>


<script>

import Navbar from '../components/Navbar'
import Footer from '../components/Footer'

export default {

	components: {
		Navbar, Footer
	}

};

</script>


<style scoped>

#content-home-grid {
	min-height: 100vh !important;
}

</style>