<template>
	
<div>

	<HomeNavbar></HomeNavbar>
	<div id="content-home-grid" class="ui fluid container">
		<router-view></router-view>
	</div>
	<Footer></Footer>

</div>

</template>


<script>

import HomeNavbar from '../components/HomeNavbar'
import Footer from '../components/Footer'

export default {

	components: {
		HomeNavbar, Footer
	}

};

</script>


<style scoped>


#content-home-grid {
	min-height: 85vh !important;
	background-image: url("../assets/books-2.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    /*opacity: 0.7*/
    height: 95vh !important;
}

</style>