<template>
	<div>

		<Navbar></Navbar>
		<div id="content-grid" class="ui grid">
			<div id="dynamic-content" class="four wide column">
				<ChairpersonSidebar v-if="user.userType == 'CHAIRPERSON'"></ChairpersonSidebar>
				<Sidebar v-else></Sidebar>
			</div>
			<div  class="twelve wide column">
				<div id="grid-segment" class="ui fluid raised segment">
					<router-view></router-view>
				</div>
				
			</div>
		</div>
		<Footer></Footer>
	</div>
</template>

<script>
	
import Navbar from '../components/Navbar'
import Sidebar from '../components/Sidebar'
import Footer from '../components/Footer'
import ChairpersonSidebar from '../components/ChairpersonSidebar'

export default {
	components: {
		Navbar, Sidebar, Footer, ChairpersonSidebar
	},

	computed: {
		user() {
			return this.$store.getters.user
		}
	}
};

</script>

<style>

#content-grid {
	min-height: 95vh;
	/*background-color: rgb(220,220,220);*/
}

#dynamic-content {
	/*background-color: rgb(220,220,220);*/
	/*background-color: rgba(0,0,0,.05) !important;*/
		/*background-color: black;*/

}

#grid-segment {
	/*padding-top: 0vh !important;*/
	min-height: 100vh;
}

</style>